<ion-view view-title="关于">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="content has-header">
    <ul class="list">

      <li class="item">
        APP名称：Kidney
      </li>
      <li class="item">
        发布日期：2017年4月4日
      </li>
      <li class="item">
        工作小组：Group Kidney
      </li>

    </ul>

  </div>
</ion-view>