<ion-view view-title="关于">
<ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="center">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
</ion-nav-bar>
  <div class="content has-header">
    <ul class="list">

      <li class="item">
        APP名称：Kidney
      </li>
      <li class="item">
        发布日期：2017年4月4日
      </li>
      <li class="item">
        工作小组：Group Kidney
      </li>

    </ul>

  </div>
</ion-view>