<ion-view view-title="详细记录">
    <ion-nav-title ng-click="scroll2Top()">
        详细记录
    </ion-nav-title>
    <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="card" ng-repeat="bill in doc.bills track by $index">
            <div class="item item-text-wrap">
                <p>交易对象：{{bill.name}}</p>
                <p>服务类型：{{bill.type}}</p>
                <p>实际支付：{{bill.pay}} 元</p>
                <p>交易日期：{{bill.time | dateFormat:'YYYY-MM-DD h:m'}}</p>
            </div>
        </div>

        <div style="text-align:center;color:gray;">
            <span ng-if="doc.preGet.length==0">已经没有更多了</span>
        </div>
        <ion-infinite-scroll
            ng-if="doc.bills.length>=15&&doc.preGet.length>0"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
