<ion-view view-title="详细记录">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
        <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
        </ion-refresher>
      <div>
        <div class="card row" ng-repeat="bill in bills" style="height: 110px">
            <div class="col col-75 item item-text-wrap">
                <p class="left">交易对象：{{bill.patientName}}</p>
                <p class="left">服务类型：{{bill.type | chargeType}}</p>
                <p class="left">实际支付：{{bill.money/100}} 元</p>
                <p class="left">交易日期：{{bill.paytime | dateFormat:'YYYY-MM-DD h:m'}}</p>
            </div>
            <div class="col col-25">
            <p style="background-color: #95E1D3;text-align: center;color: #fff;border-radius: 5px;margin-right:15px;">{{bill.paystatus|filterPayStatus}}</p>   
        </div>

        <div style="text-align:center;color:gray;">
            <span ng-if="!doc.hasMore">已经没有更多了</span>
        </div>
      </div>
      <ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="1%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
