<ion-view view-title="评论" hide-nav-bar="false" cache-view="false">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
         <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-chevron-left"></i>返回</button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
  <ion-content>

<style>.ionic_ratings .icon {
  font-size:50px;
}

.ionic_ratings .read_only {
  pointer-events:none;
}</style>



<div class="list list-inset">
  <div class="item item-divider"> 评分</div> 
<div class="item"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings> </div>
</div>

<div class="list list-inset">
  <div class="item item-divider"> 评论</div> 
  <label class="item item-input"><i class="icon ion-android-create placeholder-icon"></i>
    <textarea placeholder="说说您对该医生的评价，至少10个字哦" rows="3" ng-model="comment.commentContent" ng-disabled="editable"></textarea>
  </label>
</div>


  </ion-content>
</ion-view>
