<!-- <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >我的评价</div>
    <div class="buttons">
        <a class="button login-register" href="#/tab/addMAct">
            评论
        </a>
    </div>
</ion-header-bar> -->
<ion-view>
    <ion-content>
        <div class="list">
			<a class="item item-thumbnail-left" ng-repeat="fb in feedbacks">
				<img src="img/message.png">
                <h2>{{fb.patient}}</h2>
                <p class="friend-detail-p">{{fb.content}}</p>
				<p class="friend-detail-p">评论时间：{{fb.time}}</p>
			</a>
        </div>
    </ion-content>
</ion-view>
