<ion-view view-title="我的" show-tabs>
<!-- <ion-nav-bar class="bar-positive nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
</ion-nav-bar> -->
    <ion-content overflow-scroll="false" class="has-tabs bg-f5">
    <div class="me-top-box2">
        <!-- <a href="#/tab/qrcode"><i class="me-code iconfont icon-erweima"></i>
        <qrcode  version=3 error-correction-level="M" size="50" data="{{params.userId}}" style="width:30px;height:30px;position: absolute;right: 30px;top:10px;"></qrcode>
        </a> -->
        <div class="me-top-bg2"></div>
        <div class="me-massage-box">
                <div class="img-cen me-avatar" style="position: absolute; margin-left: -100px; margin-top: 20px;" >
                    <img ng-src="{{doctor.photoUrl}}" name="Photo" ng-click="onClickCamera($event)">
                </div>
            <div class="me-massage">
                <p class="f16 m-b5 fc-2b" style="position: absolute; margin-left: 20px; margin-top: -75px;">{{doctor.name}}</p>
                <p class="fc-66" style="position: absolute; margin-left: 8px; margin-top: -45px;width: 100%">账号：{{doctor.phoneNo}}</p>
            </div>
        </div>
    </div>

    <div class="me-mun bg-wite mt-10">
        <div class="row ">
            <a class="col col-34 text-center br-e9" href="#/tab/myinfo"><img class="icon_mine" ng-src="img/ziliao.png"><br>我的资料</a>
            <a class="col col-34 text-center br-e9" ng-click="goFee()"><img class="icon_mine" ng-src="img/zhanghu.png"><br>账户资金</a>
            <a class="col col-34 text-center" href="#/tab/myservice"><img class="icon_mine" ng-src="img/fuwu.png"><br>服务管理</a>    
        </div>
    </div>

    <div class="me-list list mt-15">
        <a class="item item-icon-left" ng-click="goAdvice()">
            <i class="iconfont ion-paper-airplane" style="color: #0080ff"></i>
        意见反馈与投诉
        </a>
        <a class="item item-icon-left" href="#/tab/about">
            <i class="iconfont icon-jiangpai" style="color: #ff8000"></i>
        关于我们
        </a>  
        <a class="item item-icon-left" href="#/tab/set">
            <i class="iconfont icon-shezhi" style="color: #73bf00"></i>
        设置
        </a>
<!--         <a class="item item-icon-left" ng-click="goSchedual()">
            <i class="iconfont icon-paibanguanli" style="color: #ff8040"></i>
        排班表
        </a> -->
        <a class="item item-icon-left" ng-click="goFeedback()">
            <i class="iconfont icon-wujiaoxing" style="color: #00aeae"></i>
        我的评价
        </a>
        <a class="item item-icon-left" ng-click="goNocounsel()" ng-if="master">
            <i class="iconfont ion-social-skype" style="color: #8600ff"></i>
        科室管理
        </a>
    </div>

    </ion-content>
</ion-view>
