<ion-view view-title="个人资料">
<ion-nav-bar class="bar-positive" align-title="center">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>

       <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
           <button class="button defa-bg defa-font" ng-click="toggle()">编辑</button>
      </ion-nav-buttons>
 </ion-nav-bar>

    <ion-content>
		<div ng-show="myDiv" >
      <div class="myinfo-avatar">
      <div class="img-cen ">
        <div>
          <img ng-src="img/alert.png"
               src="img/alert.png">
        </div>
      </div>
        <span class="f16">丁香</span>
      </div>



    <div class="myinfo-cont">
        <ion-item>
            <span class="msg">姓名</span>
			<p class="myinfo-msg-right top16">{{doctor.name}}</p>

        </ion-item>

        <ion-item>
            <span class="msg">职称</span>
			<p class="myinfo-msg-right top16">{{doctor.title}}</p>

        </ion-item>
        <ion-item>
            <span class="msg">医院</span>
			<p class="myinfo-msg-right top16">{{doctor.workUnit}}</p>

        </ion-item>
		<ion-item>
            <span class="msg">科室</span>
			<p class="myinfo-msg-right top16">{{doctor.department}}</p>

        </ion-item>
		<ion-item>
            <span class="msg">擅长</span>
			<p class="myinfo-msg-right top16">{{doctor.major}}</p>

        </ion-item>
         <ion-item>
            <span class="msg">简介</span>
			<p class="myinfo-msg-right top16">{{doctor.description}}</p>

        </ion-item>
    </div>
		</div>

		<div ng-show="updateDiv">
			<ion-item>
				<span class="msg">姓名</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.name"></p>
			</ion-item>
			<ion-item>
				<span class="msg">职称</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.title"></p>
			</ion-item>
			<ion-item>
				<span class="msg">医院</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.workUnit"></p>
			</ion-item>
			<ion-item>
				<span class="msg">科室</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.department"></p>
			</ion-item>
			<ion-item>
				<span class="msg">擅长</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.major"></p>
			</ion-item>
 			<ion-item>
				<span class="msg">简介</span>
				<p class="myinfo-msg-right"><input type=text ng-model="doctor.description"></p>
			</ion-item>

      <button  ng-click="editinfo()" style="margin-top:0 ;background: #6ac4f8;width: 80%;margin: 0 auto" class="button button-block button-positive mt-40" >保存</button>
    </div>
    </ion-content>

</ion-view>
