<ion-view view-title="我的服务">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
 </ion-nav-bar>

   <ion-content overflow-scroll="false">

    <div class="list;content has-header">

        <ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="doctorinfo.status1" ng-change="consultChange()">咨询</ion-toggle>
            <div ng-show="doctorinfo.status1">     
                <ion-item>
                    <span class="input-label">收费</span>
                    <p class="myinfo-msg-right"><input type=text ng-model="doctorinfo.charge1" style="margin-top:4px;"><button class="button button-small button-positive mine-msg-right" style="font-size:10px;margin-top:-7px;" ng-click="charge1Save()">保存</button></p>
                </ion-item> 
            </div>
        </ion-item>

        <ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="doctorinfo.status2" ng-change="inquiryChange()">问诊</ion-toggle>
            <div ng-show="doctorinfo.status2">     
                <ion-item>
                    <span class="input-label">收费</span>
                    <p class="myinfo-msg-right"><input type=text ng-model="doctorinfo.charge2" style="margin-top:4px;"><button class="button button-small button-positive mine-msg-right" style="font-size:10px;margin-top:-7px;" ng-click="charge2Save()">保存</button></p>
                </ion-item> 
            </div>
        </ion-item>

        <ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="doctorinfo.status3" ng-change="fastconsultChange()">加急咨询</ion-toggle>
            <div ng-show="doctorinfo.status3">     
                <ion-item>
                    <span class="input-label">收费</span>
                    <p class="myinfo-msg-right"><input type=text ng-model="doctorinfo.charge3" style="margin-top:4px;"><button class="button button-small button-positive mine-msg-right" style="font-size:10px;margin-top:-7px;" ng-click="charge3Save()">保存</button></p>
                </ion-item> 
            </div>
        </ion-item>

        <ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="doctorinfo.status4" ng-change="maindoctorChange()">主管医生</ion-toggle>
            <div ng-show="doctorinfo.status4">     
                <ion-item>
                    <span class="input-label">收费</span>
                    <p class="myinfo-msg-right"><input type=text ng-model="doctorinfo.charge4" style="margin-top:4px;"><button class="button button-small button-positive mine-msg-right" style="font-size:10px;margin-top:-7px;" ng-click="charge4Save()">保存</button></p>
                </ion-item> 
            </div>
        </ion-item>

        <ion-item href="#/tab/me/faceconsult">
            <span class="msg">面诊服务</span>
            <i class="icon ion-ios-arrow-right mine-msg-right"></i>
        </ion-item>

        <ion-item href="#/tab/me/forwarding">
            <span class="msg">自动转发</span>
            <i class="icon ion-ios-arrow-right mine-msg-right"></i>
        </ion-item>

    </div>

  </ion-content>

</ion-view>