<ion-view view-title="排班">
<ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="center">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
		<div class="list card">

			<div class="item">
				<h2>
					状态：{{stausText}}
					<a class="button button-small button-positive" style="float:right " ng-click="showSch()">
						{{stausButtontText}}
					</a>
				</h2>
				<div ng-show="stausButtontText=='接诊'">
					<p>停诊开始：{{begin|dateFormat:"YYYY-MM-DD"}}</p>
					<p>停诊结束：{{end|dateFormat:"YYYY-MM-DD"}}</p>
				</div>
			</div>

			<div class="item" ng-hide="showSchedual">
				<button class="button button-block button-positive button-outline" ng-click="openDatePicker(1)">
					开始时间:{{begin|dateFormat:"YYYY-MM-DD"}}
				</button>
				<button class="button button-block button-positive button-outline" ng-click="openDatePicker(2)">
					结束时间:{{end|dateFormat:"YYYY-MM-DD"}}
				</button>
				<div class="button-bar">
					  <a class="button button-positive" ng-click="stopWork(1)">取消</a>
					  <a class="button button-assertive" ng-click="stopWork()">保存</a>
				</div>
			</div>

			<div class="item">
				<h2>值班表</h2>
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8"><span style="opacity:0">上午</span></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">一</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">二</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">三</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">四</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">五</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color:#6ac4f8">六</div>
					<div class="col" style="border-left:solid;border-top:solid;border-right:solid;border-color:#6ac4f8">日</div>
				</div>
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-color: #6ac4f8">上午</div>
					<div class="col" ng-click="changeWorkStatus(0)" ng-style="workStatus[0].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8;"></div>
					<div class="col" ng-click="changeWorkStatus(1)" ng-style="workStatus[1].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8;"></div>
					<div class="col" ng-click="changeWorkStatus(2)" ng-style="workStatus[2].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(3)" ng-style="workStatus[3].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(4)" ng-style="workStatus[4].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8;"></div>
					<div class="col" ng-click="changeWorkStatus(5)" ng-style="workStatus[5].style" style="border-left:solid;border-top:solid;border-color:#6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(6)" ng-style="workStatus[6].style" style="border-left:solid;border-top:solid;border-right: solid;border-color: #6ac4f8"></div>
				</div>
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8;">下午</div>
					<div class="col" ng-click="changeWorkStatus(7)" ng-style="workStatus[7].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(8)" ng-style="workStatus[8].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(9)" ng-style="workStatus[9].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8;"></div>
					<div class="col" ng-click="changeWorkStatus(10)" ng-style="workStatus[10].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(11)" ng-style="workStatus[11].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(12)" ng-style="workStatus[12].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: #6ac4f8"></div>
					<div class="col" ng-click="changeWorkStatus(13)" ng-style="workStatus[13].style" style="border-left:solid;border-top:solid;border-bottom: solid;border-right: solid;border-color: #6ac4f8"></div>
				</div>
				<p style="padding-left:4px;">点击某一时段以修改状态</p>
				<div class="row" style="padding:0px;">
					<div class='col'>
						<div style="width: 20px;height: 20px;background-color: red;border: solid;border-color: #6ac4f8"></div>
					</div>
					<div class='col'>
						
						<div >值班</div>
					</div>
					<div class='col'>
						<div style="width: 20px;height: 20px;background-color: white;border: solid;border-color: #6ac4f8"></div>
					</div>
					<div class='col'>
						
						<div>空闲</div>
					</div>
				</div>
			</div>

		</div>
    </ion-content>
</ion-view>