<ion-view view-title="排班">
<ion-nav-bar class="bar-positive nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
		<div class="list card">

			<div class="item">
				<h2>正常/停诊</h2>
				<div class="button-bar bar-positive" style="margin-top: 10px;">
					<a class="button button-small">编辑</a>
					<a class="button button-small" ng-click="showSch()">停诊设置</a>
				</div>
			</div>

			<div class="item" ng-hide="showSchedual">
				<button class="button button-block button-positive button-outline" ng-click="openDatePicker(1)">
					停诊开始:{{begin}}
				</button>
				<button class="button button-block button-positive button-outline" ng-click="openDatePicker(2)">
					停诊结束:{{end}}
				</button>
			</div>

			<div class="item">
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-color: green"><span style="opacity:0">上午</span></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">一</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">二</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">三</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">四</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">五</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">六</div>
					<div class="col" style="border-left:solid;border-top:solid;border-right:solid;border-color: green">日</div>
				</div>
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-color: green">上午</div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green;background-color: red"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green;background-color: red"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green;background-color: red"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-right: solid;border-color: green"></div>
				</div>
				<div class="row">
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green;">下午</div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green;background-color: red"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-color: green"></div>
					<div class="col" style="border-left:solid;border-top:solid;border-bottom: solid;border-right: solid;border-color: green"></div>
				</div>
			</div>

		</div>
		<div class="blank-h12"></div>
        <button class="button button-positive mine-verfy-btn">保存</button>
    </ion-content>
</ion-view>