<!-- <script id="my-popover1.html" type="text/ng-template"> -->
            <ion-popover-view>
              <ion-header-bar class="bar-calm">
                  <h1 class="title">上传图片</h1>
              </ion-header-bar>
            <!-- <ion-content> -->
              <ion-list> 
                <div class = "padding">
                  <button class="button button-block button-primary " ng-click="getPhoto()"><i class="icon ion-camera"></i>
                      拍照
                  </button>
                
                  <button class="button button-block button-primary " ng-click="onClickCameraPhotos()"><i class="icon ion-image"></i>
                      相册
                  </button>
                 
                </div>
              </ion-list>
            <!-- </ion-content> -->
          </ion-popover-view>
        <!-- </script> -->