<ion-view title="肾健康守护者联盟在线咨询协议" >
  	<ion-nav-bar class="bar-positive " align-title="center">
    	<ion-nav-buttons side="left">
      		<button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    	</ion-nav-buttons>
  	</ion-nav-bar>
    <ion-content padding="true" style="bottom:60px;border: 1px solid #ddd;margin: 8px;">
        <div id="agreement" class="text-wrap" style="text-indent:2em;">
        	<p>“肾健康守护者联盟”，包括但不限于微信公众号和APP，是杭州海泓医院管理有限公司（以下简称“海泓医院管理”或“甲方”）专门为具有一定资格的医生（以下简称“咨询医生”或“乙方”）开发的一款诊后移动医疗咨询应用软件。咨询医生可使用该应用对已熟悉或诊断过的患者用户（以下简称“用户”或“患者”）进行线上的交流和咨询等工作。肾健康守护者联盟是为医患交流搭建的一个和谐、便捷、高效的沟通平台。在注册成为在线医生、使用“肾健康守护者联盟”应用之前，乙方需确认已经阅读本协议，并同意本协议中所有条款。一旦乙方开始使用“肾健康守护者联盟”并通过甲方相关资质审核，即视为本协议中的所有条款生效。</p>
        	<h4>一、定义</h4>
			<p>服务平台：是指“肾健康守护者联盟”的微信公众号／APP平台与网络平台的合称，本协议具体指“肾健康守护者联盟”的手机端平台与PC端平台的合称。 咨询医生：是指同意并承诺遵守本协议规定，使用“肾健康守护者联盟”手机端平台或PC端平台向用户提供诊后医疗咨询解答服务的享有相应资质的医生。 服务：是指咨询医生通过本协议服务平台向服务平台用户提供医疗问题解答咨询，医疗知识的传播等。 肾健康守护者联盟管理账户：是指咨询医生在肾健康守护者联盟服务平台上，用于接收咨询费用的个人实名账户。</p>
			<h4>二、“肾健康守护者联盟”协议内容及生效</h4>
			<h5>2.1 对医生的服务内容</h5>
			<p>海泓医院管理负责在“肾健康守护者联盟”上为咨询医生搭建一个虚拟环境平台，为患者提供咨询、交流及诊后随访等功能，并提供技术支持与客户服务。</p>
			<P>医生在注册“肾健康守护者联盟”应用后，在使用本产品服务过程中，所遇到的与注册、使用、服务等相关的问题，以及反馈的情况，海泓医院管理将及时作出相应的回复。</P>
			<p>对于医生的个人资料及隐私信息的安全，海泓医院管理有义务进行保护，除需要公开公布的资料和信息外，海泓医院管理不得随意泄露医生的任何隐私。</p>
			<p>医生一旦注册使用“肾健康守护者联盟”应用，即表示授权给海泓医院管理在“肾健康守护者联盟”应用上发布以医生姓名冠名的相关介绍，并在“肾健康守护者联盟”应用中开展免费、付费、订购等多种形式的个性化咨询和交流服务。</p>
			<p>海泓医院管理除为医生提供“肾健康守护者联盟”应用，用于进行交流咨询服务外，还可提供额外的合作模式，但需经过双方另起协议或规则进行约定。如双方还可协商，利用海泓医院管理线上资源，在医生个人及诊所品牌进行建立、包装、推广；为医生所拥有的医疗健康方面的个人学术观点、知识产权、专利、论文等成就进行推广传播服务，或在其他合作机会方面创造价值；帮助医生树立在领域内的知名度、美誉度和权威性；同时平台可以提供基于肾健康守护者联盟积累的用户信息和数据进行整合分析、数据挖掘服务。咨询医生在此授予海泓医院管理独家的、全球通用的、永久的、免费的许可使用权利（并有权对该权利转授权或转许可），使海泓医院管理有权（全部或部分的）使用、复制、修订、改写、发布、翻译、分发、执行和展示咨询医生公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其他作品内。</p>
			<p>海泓医院管理有权根据业务调整情况将本协议项下的全部权利和义务一并转移给其他关联公司，此种情况将会提前30天以网站公告的形式通知咨询医生。咨询医生承诺对此不持有异议。</p>
			<h5>2.2 对患者的服务内容</h5>
			<p>患者可通过“肾健康守护者联盟”的微信平台或应用平台，向医生发起免费（一定条件内）或付费的服务，以及订购咨询的申请。</p>
			<p>本协议内容包括协议正文及所有服务平台已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等的法律效力。海泓医院管理将就服务平台特定特别规则（下称“特别规则”），如特别规则与服务平台其他规则存在冲突，则以特别规则为准。</p>
			<p>咨询医生在使用服务平台提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。海泓医院管理有权根据需要不时地制定、修改本协议或各类规则。如本协议有任何变更，海泓医院管理将在网站、微信平台或APP上以公示形式通知咨询医生。如医生不同意相关变更，必须立即以书面通知的方式终止本协议。任何修订和新规则一经在服务平台公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示咨询医生接受修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。</p>
			<p>咨询医生签署或在线接受本协议并不导致本协议立即生效。需经过海泓医院管理审核通过并向咨询医生发出服务开通通知时，咨询医生首次登陆时，本协议即在咨询医生和海泓医院管理之间产生法律效力。本协议不涉及咨询医生与服务平台其他用户之间因网上交易而产生的法律关系及法律纠纷。</p>
			<p>海泓医院管理保留在任何时候自行决定对服务及其相关功能、应用软件变更、升级的权利。海泓医院管理进一步保留在服务中开发新的模块、功能和软件或其他语种服务的权利。上述所有新的模块、功能、软件服务的提供，除非海泓医院管理另有说明，否则仍适用本协议。服务随时可能因海泓医院管理的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供，咨询医生将会得到相应的变更通知。咨询医生在此同意海泓医院管理在任何情况下都无需向其或第三方在使用服务时对其在传输或联络中的延迟、不准确、错误或疏漏及因此而致使的损害负责。</p>
			<h4>三、“肾健康守护者联盟”使用规范</h4>
			<h5>3.1 注册者资格</h5>
  			<p>申请使用服务的咨询医生必须同时满足以下条件：
			<p>3.1.1 乙方咨询医生在完成注册程序或实际使用“肾健康守护者联盟”服务时，应当是具备完全民事权利能力和完全民事行为能力的自然人。</p>
			<p>3.1.2 必须拥有中华人民共和国《执业医师资格证》。</p>
			<p>3.1.3 提交以下相关证明文件并获得海泓医院管理的认可：</p>
			<p>医师执业证；</p>
			<p>医师职称证书（或工作证、医院聘书）；</p>
			<p>个人证件照（或个人清晰头像）；</p>
			<p>身份证；</p>
			<p>咨询医师出具的证明联系人获得咨询医师授权的证明；</p>
			<p>其他海泓医院管理认为需要查验的信息。</p>
			<p>3.1.4 注册并经过认证成为海泓医院管理的咨询医生后，海泓医院管理对平台医生的真实性负责。若乙方不具备前述主体资格，则乙方不得成为“肾健康守护者联盟”的咨询医生。由此而导致的一切后果，则由乙方应承担，海泓医院管理则不承担任何后果。且海泓医院管理有权注销（永久冻结）乙方咨询医生的“肾健康守护者联盟”账户。由此造成的损失，海泓医院管理有权向乙方索偿。</p>
			<h5>3.2 个人资料或信息更新</h5>
			<p>乙方咨询医生向海泓医院管理提供所需的注册资料，阅读并同意本协议，完成全部注册程序并得到海泓医院管理的审核确认后，即成为海泓医院管理注册咨询医生。在协议期内和后续的使用过程中，上述信息（包括相关证明文件）的任何变更，咨询医生都应当及时通知海泓医院管理更新自己的资料，以使之真实、有效、完整和准确。一旦上述信息变更后使得咨询医师不再具备履行本协议的情形出现时，海泓医院管理有权立即终止或中止本协议。</p>
			<h5>3.3 责任条款</h5>
			<p>咨询医生同意为其未及时的通知或更新其信息承担全部责任，咨询医生保证其向海泓医院管理提供的全部证明文件真实、准确且不存在超过时效问题（即保证所有证明文件在整个合同履行期间都处于有效期内）。如因上述原因发生纠纷或者被相关国家主管机关处罚，咨询医生应当独立承担全部责任，如给海泓医院管理（包括其合作伙伴、代理人、职员等）造成损失的，咨询医生同意赔偿其全部损失。</p>
			<h5>3.4 账户管理</h5>
			<p>咨询医生同意本协议，完成注册程序后，海泓医院管理会向咨询医生提供唯一的医生编码。咨询医生可以自行设置或修改“肾健康守护者联盟”账户密码。咨询医生应对自己的“肾健康守护者联盟”账户和密码的安全负责。除非有法律规定或司法裁定，且征得海泓医院管理的同意，否则，账户不得以任何方式转让、赠与或继承。如果发现任何人不当使用肾健康守护者联盟账户或有任何其他可能危及肾健康守护者联盟账户安全的情形时，咨询医生应当立即以有效方式通知海泓医院管理，要求海泓医院管理暂停相关服务。当海泓医院管理发现肾健康守护者联盟账户可能存在被不当使用（包括但不限于账户被多人使用、账户被转让、账户登录异常等）的情形时，海泓医院管理有权立即暂停相关服务。</p>
			<h4>四、权利和义务</h4>
			<p>1. 咨询医生应符合相应的申请条件，且向海泓医院管理提供真实、合法、准确、有效的注册资料，并保证其诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证海泓医院管理可以通过上述联系方式与咨询医生进行联系。</p>
			<p>2. 咨询医生也有义务在相关资料实际变更时及时更新有关注册资料。</p>
			<p>3. 咨询医生保证不以他人资料在服务平台进行注册，否则咨询医生应承担相应的法律责任，海泓医院管理也有权冻结其相应产品账号。</p>
			<p>4. 咨询医生在“肾健康守护者联盟”应用中的言行需遵守国家法律、法规等规范性文件的要求，不违背社会公共利益或公共道德，不损害他人的合法权益，同时需要遵守海泓医院管理的各项规则和要求，不违反本协议及相关规定。如果因此产生任何法律后果，咨询医生应独立承担法律责任。</p>
			<p>5. 咨询医生理解并同意自主选择、使用“肾健康守护者联盟”，在与患者咨询、交流的过程中风险自负。咨询医生不得以虚构或歪曲事实的方式不当评价其它肾健康守护者联盟，不采取不正当方式制造或提高自身的评价度或信任度，不采取不正当方式制造或提高（降低）其它肾健康守护者联盟的评价度及信任度。海泓医院管理有权对咨询医生违反本规范的行为进行指正、警告、甚至永久冻结咨询医生的咨询资格和肾健康守护者联盟账户。</p>
			<p>6. 咨询医生在“肾健康守护者联盟”应用中的工作不得影响医生所属医疗机构中的本职工作。咨询医生与海泓医院管理也不构成法律和事实上的劳动关系，因此与所属医疗机构产生纠纷的，由咨询医生自行负责，海泓医院管理不承担任何法律责任。</p>
			<p>7. 咨询医生应就其在谈判、签署和履行本协议过程中所知悉或获取的海泓医院管理的相关信息和资料予以保密。未经海泓医院管理书面同意，咨询医生不得向第三方披露该等信息。该保密义务不因本协议的任何可能的无效、解除或终止而无效、解除或终止。如本协议宣布无效、解除或终止，双方应继续持续履行相关保密义务。</p>
			<p>8. 任何咨询医生在线接受本协议并不当然导致本协议发生法律效力。本协议是附条件生效协议，即必须经过海泓医院管理对其提交的全部资料审核通过后方可生效。同时，咨询医生认可海泓医院管理有权独立的对其提供的资料、证明文件、权限开通申请进行评估、判断。审核结果以海泓医院管理评估、判断为准，其对此不持有任何异议。</p>
			<p>9. 海泓医院管理承诺在“肾健康守护者联盟”客户端所开展的业务均取得国家规定的相关资质，并受到中国法律保护。海泓医院管理有义务在现有技术上维护整个服务平台上交易平台的正常运行，并努力提升和改进技术，使咨询医生的服务得以顺利进行。</p>
			<p>10. 对咨询医生在注册使用服务中所遇到的与服务或注册相关的问题及反映的情况，海泓医院管理应及时作出回复。</p>
			<p>11. 因服务平台的特殊性，海泓医院管理没有义务对所有咨询医生的服务行为以及服务有关的其他事项进行事先审查，但如存在下列情况：○1第三方通知海泓医院管理，认为某个具体咨询医生或具体服务事项可能存在重大问题；○2咨询医生或第三方向海泓医院管理告知服务平台上有违法或不当行为的；○3海泓医院管理以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，海泓医院管理有权根据不同情况选择删除相关信息或停止对该咨询医生提供服务平台，并追究相关法律责任。</p>
			<p>12. 海泓医院管理有权对咨询医生的注册数据及服务行为进行查阅，发现注册数据或服务行为中存在任何问题或怀疑，均有权向咨询医生发出询问或要求改正的通知，或者直接作出删除等处理。</p>
			<p>经国家生效法律文书或行政处罚决定确认咨询医生存在违法、违规行为，或者海泓医院管理有足够事实依据可以认定咨询医生存在违法或违反协议行为的，海泓医院管理有权在服务平台上公布咨询医生的违法或违规行为。</p>
			<p>13. 在任何条件下，海泓医院管理及附属公司、员工，创建或者维护“肾健康守护者联盟”应用的人员对用户使用本应用或链接本站的第三方网站导致的直接、间接、偶然、特殊、关联性损害或利益损失，或由错误、疏漏、信号中断、文件删除、病毒、网站出错，漏洞导致的直接或间接损害，或由于运行不稳、通信故障、盗窃、破坏或未经授权使用导致的损害不承担任何法律责任。</p>
			<h4>五、费用的规定</h4>
			<p>海泓医院管理将按月与医生进行费用结算（起提额度为100元，达到后将为您汇款，低于起提额度的金额将累积到下次汇款。）。在每月20日前（法定节假日影响则顺延），将医生在“肾健康守护者联盟”赚取的服务费打入医生指定账户，为保证医生合法的获取应得的劳动收入，海泓医院管理按照国家规定，在医生提现时提供代扣代缴税服务。代扣代缴个税，报酬包括：用户支付的咨询费、订购服务费、海泓医院管理给予的奖励。上述报酬海泓医院管理有权按照海泓医院管理制定的服务费结算规则执行。海泓医院管理有权根据需要制定和修改规则，但必须提前一周在海泓医院管理官方网站、“肾健康守护者联盟”应用中进行公示，或以电子邮件正文／附件等形式发送到咨询医生制定的电子邮件地址。结算时间上如因不可抗力原因导致延后的，海泓医院管理需及时通知到医生并说明原因。</p>
			<h4>六、“肾健康守护者联盟”协议效力</h4>
			<p>本协议内容包括协议正文及所有海泓医院管理已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。
			咨询医生应当在使用“肾健康守护者联盟”应用服务之前，认真阅读本协议全部内容。因此，一旦乙方咨询医生开始使用“肾健康守护者联盟”服务，则视为咨询医生已阅读并同意本协议，本协议即对咨询医生产生约束，届时咨询医生不得以未阅读本协议内容等理由，主张本协议无效，或要求撤销本协议。</p>
			<p>乙方咨询医生对海泓医院管理有任何意见和建议均可通过客服电话、电子邮件、微信或者直接和医生维护人员联系进行反馈。海泓医院管理将充分尊重乙方咨询医生的意见，经协商后与咨询医生达成一致，对协议或规则进行调整。</p>
			<p>海泓医院管理有权根据实际状况的需要，定期修改本协议或各类规则。并会在协议或规则生效前，提前在海泓医院管理官方网站、“肾健康守护者联盟”应用中进行公示。海泓医院管理更新后，变更的协议和规则立即自动生效。如乙方咨询医生继续使用肾健康守护者联盟服务，即表示乙方接受经修订的协议和规则。</p>
			<h4>七、“肾健康守护者联盟”协议终止</h4>
			<h5>7.1 海泓医院管理单方解除权</h5>
			<p>如咨询医生违反海泓医院管理的任何规定或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，海泓医院管理都有权立刻终止本协议，且按照有关规则对咨询医生进行处罚。</p>
			<p>若咨询医生屡次违反本协议或相关规定，经海泓医院管理多次提醒仍不改正的；或因咨询医生的言行对海泓医院管理造成人民币1000元以上的损失的，海泓医院管理有权终止与咨询医生的协议，并冻结咨询医生的所有肾健康守护者联盟账号。</p>
			<p>若双方无法达成一致，海泓医院管理无权强制乙方使用“肾健康守护者联盟”。乙方可根据自己意愿，随时终止自己对“肾健康守护者联盟”产品的使用。乙方完全终止“肾健康守护者联盟”使用三年后，本协议终止。</p>
			<p>在协议终止、账号注销前，乙方均可随时自行再次开通“肾健康守护者联盟”使用。本协议终止后乙方的“肾健康守护者联盟”账号将被自动注销。</p>
			<h5>7.2 协议终止后有关事项的处理</h5>
			<p>协议终止后，海泓医院管理没有义务为咨询医生保留“肾健康守护者联盟”账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给咨询医生或第三方。亦不就终止协议而对咨询医生或任何第三方承担任何责任。</p>
			<p>无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，咨询医生必须完全且独立承担。</p>
			<p>协议终止后，海泓医院管理有权保留该咨询医生的注册数据及之前的服务行为记录。如咨询医生在协议终止前在服务平台上存在违法行为或是违反协议的行为，海泓医院管理仍可行使本协议所规定的权利追究其责任。</p>
			<h4>八、协议期限</h4>
			<p>本协议经咨询医生在线接受，经过海泓医院管理审核通过后（或书面签署后）即为生效。除非本协议规定的终止条件发生，本协议将持续有效。双方另有约定的除外。</p>
			<h4>九、有效通知</h4>
			<p>本协议下所规定的通知有权要求以书面形式通过以下邮址递交收悉，通知的到达以海泓医院管理收悉为准。海泓医院管理的地址：杭州滨江区建业路511号华创大厦6楼；收件人：海泓医院管理医疗事业部（收）。海泓医院管理可向咨询医生在海泓医院管理注册时提供的电子邮件地址发出通知。通知的送达以邮件发出为准。</p>
			<h4>十、知识产权</h4>
			<p>杭州海泓医院管理有限公司是本应用及相关网站所承载的相关内容（文、图、视频、音频等）的版权所有者。未经杭州海泓医院管理有限公司的书面许可，禁止挪用或复制本应用内容。所有未在此明确授予用户的其他权利，杭州海泓医院管理有限公司将予以保留。咨询医生在海泓医院管理产品内发布的文章、评论、图片及对患者答疑内容的知识产权归海泓医院管理所有。</p>
			<h4>十一、保密条款</h4>
			<p>本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及在合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将持续十年。
			因对方书面同意以及国家、行政、司法强制行为而披露相关秘密信息的，披露方不承担责任，但该披露方仍应谨慎审慎地限制披露信息的范围，因披露内容、披露对象超过必要范围而给对方造成损失的，该披露方应当赔偿损失；该商业秘密已为公众所知悉的，披露方不承担责任。</p>
			<h4>十二、法律适用、管辖与其他</h4>
			<p>本协议之效力、解释、变更、执行与争议解决，均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。</p>
			<p>本协议的任何条款被视作为无效或无法执行，均不影响其他条款的效力。</p>
			<p>甲乙双方本着合作共赢、相互理解的态度执行本协议，如对本协议有任何问题或争议，双方可协商处理，如协商不成，双方均有权向甲方所在地人民法院提请诉讼。</p>
			<p>本协议未尽事宜，可由双方另行协商确定。</p>

			<p>杭州海泓医院管理有限公司
        </div>
	</ion-content>

    <div class="bar bar-footer no-line" style="height: 50px">
        <button style="margin: 0" class="button button-block button-positive login_btn" ng-click="YesIdo()">同意协议</button>
    </div>
        

</ion-view>
