<ion-view title="消息中心" >

  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content >

    <ion-list>

      <!-- 支付消息 -->

      <ion-item class="item message-item item-avatar right message-new"ng-click="getMessageDetail('ZF')">
        <img   src="/img/icon_paymessage.png">
        <h2>支付消息</h2>
        <p>[{{messages.ZF.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item>
      <!-- 警报消息 -->
      <!-- <ion-item class="item-thumbnail-left item-text-wrap" ng-click="getMessageDetail('JB')">
        <img ng-src="img/alert.png">
        <h2 style="margin-top: 30px;">警报消息</h2>
        <span class="badge badge-assertive" style="margin-top: 20px;" ng-if="messages.JB.values.length">{{messages.JB.values.length}}</span>
      </ion-item> -->

      <!-- 任务消息 -->


      <ion-item class="item message-item item-avatar right "ng-click="getMessageDetail('RW')">
        <img   src="/img/icon_renwu.png">
        <h2>待做任务</h2>
        <p>[{{messages.RW.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item>

      <!-- 保险消息 -->


      <ion-item class="item message-item item-avatar right "ng-click="getMessageDetail('BX')">
        <img   src="/img/icon_warning.png">
        <h2>警报消息</h2>
        <p>[{{messages.RW.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item>

    <!--  <ion-item class="item item-avatar " ng-click="getConsultRecordDetail()">
        <img   src="/img/icon_sick.png">
        <div><span>患者咨询</span><span style="float: right">04-11</span></div>
        <p style="white-space:normal;margin-top: 10px">你有新的支付消息请注意查收你有新的支付消息请注意查收你有新的支付消息请注意查收你有新的支付消息请注意查收你有新的支付消息请注意查收你有新的支付消息请注意查收</p>
      </ion-item>-->
      <!-- 聊天消息 -->
      <ion-item ng-repeat="consult in messages.LT.values" class="item item-avatar" ng-click="getConsultRecordDetail()">

        <img ng-src="{{consult.img}}">
        <div><span>{{consult.title}}</span><span style="float: right">{{consult.time|dateFormat:"MM-DD"}}</span></div>
        <p style="white-space:normal;margin-top: 10px">{{consult.description}}</p>

      </ion-item>


    </ion-list>

  </ion-content>

</ion-view>
