<ion-view title="消息中心" >

  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="Goback()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content >
    <div class="card" ng-if="(!chats)&&(noCounsels.length==0)&&(changingTasks.length==0)&&(patientAlerts.length==0)">
        <div class="item item-text-wrap">
            暂时没有消息
        </div>
    </div>
    <ion-list>
      <!-- 聊天消息 -->
      <ion-item  ng-repeat="chat in chats"  class="item item-avatar card" ng-click="getChatDetail(chat)">
        <img ng-src="{{chat.Photo}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col">{{chat.Name}}</h2>
            <span class="col" style="font-size: 12px">{{chat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{chat.description}}</span>
      </ion-item>

      <!-- 未及时咨询报告推送 -->
      <ion-item class="item item-avatar card" ng-if="(!noCounsels.length==0)" style="padding-top: 25px;padding-bottom: 25px;" ng-repeat="noCounsel in noCounsels" ng-click="getChatDetail(noCounsel)">
        <img ng-src="img/time.png" image-red-point="true">
        <h2>未及时咨询报告</h2>
        <i class="icon ion-ios-arrow-right mine-msg-right" style="top:24px"></i>
      </ion-item>

       <!-- 未及时修改患者治疗方案的提醒 -->
      <ion-item class="item item-avatar card" ng-if="(!changingTasks.length==0)" style="padding-top:25px; padding-bottom:25px;" ng-repeat="changingTask in changingTasks" ng-click="getChatDetail(changingTask)">
        <img ng-src="img/xx.png" image-red-point="true">
        <h2>修改治疗方案的提醒</h2>
        <i class="icon ion-ios-arrow-right mine-msg-right" style="top:24px"></i>
      </ion-item>

       <!-- 警报消息 -->
      <ion-item class="item item-avatar card" ng-if="(!patientAlerts.length==0)" style="padding-top:25px; padding-bottom:25px;" ng-repeat="patientAlert in patientAlerts" ng-click="getChatDetail(patientAlert)">
        <img ng-src="img/bj.png" image-red-point="true">
        <h2>警报消息</h2>
        <i class="icon ion-ios-arrow-right mine-msg-right" style="top:24px"></i>
      </ion-item>

      <!-- 支付消息 -->
<!--       <ion-item class="item message-item item-avatar right message-new" ng-click="getMessageDetail('ZF')">
        <img   src="/img/icon_paymessage.png">
        <h2>支付消息</h2>
        <p ng-if="messages.ZF.values.length">[{{messages.ZF.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item> -->

      <!-- 警报消息 -->
      <!-- <ion-item class="item-thumbnail-left item-text-wrap" ng-click="getMessageDetail('JB')">
        <img ng-src="img/alert.png">
        <h2 style="margin-top: 30px;">警报消息</h2>
        <span class="badge badge-assertive" style="margin-top: 20px;" ng-if="messages.JB.values.length">{{messages.JB.values.length}}</span>
      </ion-item> -->

      <!-- 任务消息 -->
<!--       <ion-item class="item message-item item-avatar right "ng-click="getMessageDetail('RW')">
        <img   src="/img/icon_renwu.png">
        <h2>待做任务</h2>
        <p ng-if="messages.RW.values.length">[{{messages.RW.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item> -->

      <!-- 保险消息 -->
<!--       <ion-item class="item message-item item-avatar right "ng-click="getMessageDetail('BX')">
        <img   src="/img/icon_warning.png">
        <h2>警报消息</h2>
        <p ng-if="messages.BX.values.length">[{{messages.RW.values.length}}条]你有新的支付消息请注意查收</p>
      </ion-item> -->

      <!-- 聊天消息 -->
<!--       <ion-item  ng-repeat="Pchat in Pchats"  class="item-thumbnail-left" ng-click="getPChatDetail(Pchat)">
        <img ng-src="{{Pchat.patPhoto||'img/patient.png'}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col" style="margin-top: 10px;">{{Pchat.patName}}</h2>
            <span class="col" style="margin-top: 10px;text-align: right;">{{Pchat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{Pchat.description}}</span>
      </ion-item>

      <ion-item  ng-repeat="Dchat in Dchats"  class="item-thumbnail-left" ng-click="getDChatDetail(Dchat)">
        <img ng-src="{{Dchat.docPhoto||'img/doctor.png'}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col" style="margin-top: 10px;">{{Dchat.docName}}</h2>
            <span class="col" style="margin-top: 10px;text-align: right;">{{Dchat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{Dchat.description}}</span>
      </ion-item>

      <ion-item  ng-repeat="Tchat in Tchats"  class="item-thumbnail-left" ng-click="getTChatDetail(Tchat)">
        <img ng-src="{{Tchat.teamPhoto||'img/doctor_group.png'}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col" style="margin-top: 10px;">{{Tchat.teamName}}</h2>
            <span class="col" style="margin-top: 10px;text-align: right;">{{Tchat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{Tchat.description}}</span>
      </ion-item> -->
      <!-- <ion-item  ng-repeat="chat in chats"  class="item item-avatar left" ng-click="getChatDetail(chat)">
        <img ng-src="{{chat.Photo}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col" style="margin-top: 10px;">{{chat.Name}}</h2>
            <span class="col" style="margin-top: 10px;text-align: right;">{{chat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{chat.description}}</span>
      </ion-item> -->

    </ion-list>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
  </ion-content>

</ion-view>
