<ion-view title="消息中心" xmlns="http://www.w3.org/1999/html">

  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="bg">
    <div class="text-center mt-10 ">
    <span class="m-d-time text-center">2017-04-11</span>
    </div>
     <div class="message-content">
       <em>恭喜你中奖了，赶快去领取吧恭喜你中奖了，赶快去领取吧恭喜你中奖了，赶快去领取吧恭喜你中奖了，赶快去领取吧恭喜你中奖了，赶快去领取吧恭喜你中奖了，赶快去领取吧</em>
     </div>
  </ion-content>



</ion-view>
