<ion-popover-view>
		<ul class="list">
<!-- 			<li class="item"">
		      	筛选
		    </li> -->
		    <li class="item">
		      <ion-checkbox ng-model="filters.item1" class="check" ng-change="filterShow()">咨询</ion-checkbox>
		    </li>
		    <li class="item">
		      <ion-checkbox ng-model="filters.item2" class="check" ng-change="filterShow()">问诊</ion-checkbox>
		    </li>

		</ul>
</ion-popover-view>
<style type="text/css">
	.item{
		padding-top: 5px;padding-bottom: 5px;
	}
	.check
	{
		padding-top: 0px;padding-bottom: 0px;padding-left: 45px;
	}
	.radio
	{
		padding-top:0px;
		padding-bottom: 0px;
		padding-left: 30px;
	}
	.item-radio .radio-content .item-content {
    	background: #fafafa;
	}
</style>