<ion-popover-view style="width:auto;">
  <ion-content>
    <!-- <ion-list style="margin:2px 12px" class="text-center"> -->
      <!-- <ion-item > --><div style="margin:2px 12px">
      <a class="item" style="margin-top:4px;padding:4px;width:5em;display:inline-block;text-align: center;border:none;" ng-repeat="option in options" ng-click="toolChoose($index)">{{option.name}}</a>
        <!-- <a> -->
        <!-- <p >{{option.name}}</p> -->
        <!-- </a> -->
      <!-- </ion-item> --></div>
    <!-- </ion-list> -->
  </ion-content>
</ion-popover-view>