<ion-view view-title="个人信息" >

    <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-content>
        <ion-item>
            <span class="msg">姓名</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.name">{{doctor.name}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>
<!--    <ion-item>
            <span class="msg">性别</span>
            <p class="myinfo-msg-right"><input type=text ng-model="doctor.gender">{{doctor.gender}}</p>
            <i class="icon ion-edit mine-msg-right"></i>
        </ion-item> -->
        <ion-item  class="item item-input item-select">
            <span class="input-label">省份</span>
                <select class="myinfo-msg-right" ng-model="ProvinceObject" ng-options="Province.name for Province in Provinces track by Province.province" style="width:100%" ng-change="getCity(ProvinceObject.province)">
                </select>
            </ion-item>
        <ion-item  class="item item-input item-select">
            <span class="input-label">城市</span>
                <select class="myinfo-msg-right" ng-model="CityObject" ng-options="City.name for City in Cities track by City.city" style="width:100%" ng-change="getHospital(CityObject.name)">
                </select>
        </ion-item>
        <ion-item  class="item item-input item-select">
            <span class="input-label">医院</span>
                <select class="myinfo-msg-right" ng-model="HosObject" ng-options="Hospital.hospitalName for Hospital in Hospitals track by Hospital._id" style="width:100%" ng-change="test(HosObject)">
                </select>
        </ion-item>

        <ion-item>
            <span class="msg">科室</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.department">{{doctor.department}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>
        <ion-item>
            <span class="msg">职称</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.title">{{doctor.title}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>
        <ion-item>
            <span class="msg">身份证号</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.IDNo">{{doctor.IDNo}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>
        <ion-item>
            <span class="msg">擅长</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.major">{{doctor.major}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>
        <ion-item>
            <span class="msg">简介</span>
                <p class="myinfo-msg-right"><input type=text ng-model="doctor.description">{{doctor.description}}</p>
                <i class="icon ion-edit mine-msg-right"></i>
        </ion-item>




        <div class="blank-h12"></div>
        <button  style="margin-top:0" class="button button-block button-positive" ng-click ="infoSetup()">
        保存信息
        </button>

    </ion-content>

</ion-view>
