<ion-view title="医生诊断">
  <ion-nav-bar class="bar-positive " align-title="center">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="BacktoPD()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-compose" ng-click="canEdit()"></button>
  </ion-nav-buttons>
</ion-nav-bar>


<!--   <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
    <div class="button-bar bar-positive" ng-style="barStyle">
    <a class="button" href="#/tab/DoctorDiagnose">
      <span class="br-e9" style="vertical-align: sub">医生诊断</span>
    </a>
    <a class="button" href="#/tab/TaskSet">
      <span class="br-e9" style="vertical-align: sub">治疗方案</span>
    </a>
    <a class="button" ng-click="gototestrecord()" >
      <span class="br-e9" style="vertical-align: sub">测量记录</span>
    </a>
    <a class="button" href="#/tab/HealthInfo">
        <span class="br-e9" style="vertical-align: sub">健康信息</span>
    </a>
  </div>
  <ion-content  ng-style="barStyle">
    <div  class="list" ng-show="!edit">
        <ion-item>
          肾病类型:{{Diagnose.diagname|diagname}}
        </ion-item>
        <ion-item ng-if="Diagnose.diagname == 1||Diagnose.diagname == 5||Diagnose.diagname == 6">
          {{showDateTitle(Diagnose.diagname)}}:{{Diagnose.diagoperationTime|dateFormat:"YYYY-MM-DD"}}
        </ion-item>
        <ion-item ng-if="Diagnose.diagname == 2||Diagnose.diagname == 3">
          疾病进程:{{Diagnose.diagprogress}}
        </ion-item>
        <ion-item>
          是否高血压:{{Diagnose.diaghypertension|hypertension}}
        </ion-item>
        <ion-item>
          诊断:{{Diagnose.diagcontent}}
        </ion-item>
    </div>
    <div  class="list" ng-show="edit">
      <label  class="item item-input item-select">
        <div class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px">
          </i>肾病类型</div>
        <select ng-model="Diagnose.diagname">
          <option ng-repeat="x in Diseases" value="{{x.Type}}">{{x.Name}}</option>
        </select>
      </label>

      <!-- <label class="item item-input" ng-if="showProgress()">
        <span class="input-label" style="margin-left:8px ">
          <i class="icon ion-asterisk" style="color:red;font-size:6px"></i>疾病进程</span>
        <input  ng-model="Diagnose.DiseaseDetail"  type="text">
      </label> -->

      <button class="button button-block button-positive button-outline" ng-click="openDatePicker(1)" ng-if="Diagnose.diagname == 1||Diagnose.diagname == 5||Diagnose.diagname == 6">
        {{showDateTitle(Diagnose.diagname)}}:{{Diagnose.diagoperationTime|dateFormat:"YYYY-MM-DD"}}
      </button>
      <!-- cdk1-2 -->
      <label  class="item item-input item-select" ng-if="Diagnose.diagname == 2">
        <div class="input-label">
          <i class="icon ion-asterisk" style="color:red;font-size:6px"></i>
          疾病进程
        </div>
        <select ng-model="Diagnose.diagprogress">
          <option ng-repeat="x in progressSelect[0]" value="{{x}}">{{x}}</option>
        </select>
      </label>
      <!-- cdk3-4 -->
      <label  class="item item-input item-select" ng-if="Diagnose.diagname == 3">
        <div class="input-label">
          <i class="icon ion-asterisk" style="color:red;font-size:6px"></i>
          疾病进程
        </div>
        <select ng-model="Diagnose.diagprogress">
          <option ng-repeat="x in progressSelect[1]" value="{{x}}">{{x}}</option>
        </select>
      </label>

      <label  class="item item-input item-select">
        <div class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px">
          </i>是否高血压</div>
        <select ng-model="Diagnose.diaghypertension">
          <option ng-repeat="x in Hypers" value="{{x.Type}}">{{x.Name}}</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label" style="margin-left:8px ">诊断</span>
        <input  ng-model="Diagnose.diagcontent"  type="text">
      </label>

      <button style="margin:0 auto;width: 80%" class="button button-block button-balanced bg-63 mt-40" ng-click ="saveDiagnose()">
            提交
      </button>
    </div>

  </ion-content>

</ion-view>
