<ion-view title="要获得的帮助">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
  </ion-nav-bar>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content padding="true" style="">
    
    <div  class="list">
      <label  class="item item-input item-select">
        <div class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>肾病类型</div>
        <select ng-model="Diagnose.KidneyDisease">
          <!-- <option selected>选择性别</option> -->
          <option  value=''>请选择</option>
          <option ng-repeat="x in Diseases" value="{{x.Type}}">{{x.Name}}</option> 
        </select>
      </label>

        <label class="item item-input" ng-if="showProgress()">
          <span class="input-label" style="margin-left:8px "><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>疾病进程</span>
          <input  ng-model="Diagnose.DiseaseDetail"  type="text">
        </label>

        <ionic-datepicker input-obj="datepickerObject2" class="item item-input"  ng-if="showOperationTime()">
          <span class="input-label" style="margin-left:8px "><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>手术日期</span>
          <input  ng-model="Diagnose.OperationDate"  type="text">
        </ionic-datepicker>
        <label  class="item item-input item-select">
        <div class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>是否高血压</div>
        <select ng-model="Diagnose.Hypertension">
          <!-- <option selected>选择性别</option> -->
          <option  value=''>请选择</option>
          <option ng-repeat="x in Hypers" value="{{x.Type}}">{{x.Name}}</option> 
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label" style="margin-left:8px ">诊断</span>
        <input  ng-model="Diagnose.DetailDiagnose"  type="text">
      </label>
    </div>
      <button style="margin-top:0" class="button button-block button-balanced" ng-click ="Submit()">
            提交
      </button>
      <button style="margin-top:0" class="button button-block button-balanced" class="button button-clear" ng-click="reset()">重置
      </button>
    


           
  </ion-content>
          
</ion-view>