<ion-view cache-view="false" title="健康信息" >
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-compose" ng-if="!canEdit" ng-click="edit()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" style="margin-top: 40px;">


  <ion-list>
    <label  class="item item-input item-select">
        <div class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>类别</div>
        <select ng-disabled="!canEdit" ng-model="health.label" ng-options="label.name for label in labels track by label.code" style="width:100%">
        </select>
    </label>

    <label ng-if="!canEdit" class="item item-input">
        <span class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>时间日期</span>
        <span ng-disabled="!canEdit">{{health.date|dateFormat:"YYYY-MM-DD"}}</span>
        <!-- <input  ng-disabled="!canEdit" ng-model="health.date" dateformat type="text"> -->
    </label>
    <ionic-datepicker ng-if="canEdit" ng-click="openDatePicker()" class="item item-input">
        <span class="input-label"><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>时间日期</span>
        <span>{{health.date|dateFormat:"YYYY-MM-DD"}}</span>
    </ionic-datepicker>

    <label class="item item-input">
          <span class="input-label" ><i class="icon ion-asterisk" style="color:red;font-size:6px"></i>文字描述</span>
          <input  ng-disabled="!canEdit" ng-model="health.text"  type="text">
    </label>



    <ion-item style="border:none; text-align:center; margin-top:30px" >
         <div  ng-repeat="filepath in health.imgurl track by $index">
          <img ng-src="{{filepath}}"  name="Photo" ng-click="showoriginal(filepath)"  style="height:30%; width:30%"  /><i ng-if="canEdit" class="icon ion-close-circled" style="width: 10%;float: right" ng-click="deleteimg($index)"></i>
      </div>
         <div ng-if="canEdit">
           <button class="button button-clear" style="color:#666" ng-click="onClickCamera($event)" ><i class="icon ion-camera"></i>上传图片</button>
         </div>

    </ion-item>

  </ion-list>
    <button ng-if="canEdit" style="margin-top:10px" class="button button-block button-balanced bg-6a" ng-click ="HealthInfoSetup()">
            保存
      </button>
  </ion-content>

</ion-view>


    <!-- 上传照片的弹出框 -->
<!--       <script id="my-popover1.html" type="text/ng-template">
        <ion-popover-view>
          <ion-header-bar class="bar-calm">
              <h1 class="title">上传图片</h1>
          </ion-header-bar>
        <ion-content>
          <ion-list>
            <div class = "padding">
              <button class="button button-block button-primary " ng-click="getPhoto()"><i class="icon ion-camera"></i>
                  拍照
              </button>

              <button class="button button-block button-primary " ng-click="onClickCameraPhotos()"><i class="icon ion-image"></i>
                  相册
              </button>

            </div>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script> -->
    <!-- 上传照片的弹出框 -->
