<ion-view cache-view="false" title="健康信息" >

  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content class="has-header" padding="true" style="">

    <ion-list>
      <ion-item ng-repeat="item in items">
        <div class="row">
          <div class="col-25">
          <div ng-repeat = "img in item.url">
            <img ng-src="{{img}}" style="width: 100%">
          </div>
          </div>
          <div class="col-75">
            <div>
              <h2 style="float:left;margin-left:3%">{{item.label}}</h2>
              <p style="text-align:right">{{item.time}}</p>
            </div>
            <div>
              <p style="margin-left:3%">{{item.description}}</p>
            </div>
          </div>
        </div>

        <div style="text-align: right">
          <button class="button button-clear" style="color:#666" ng-click="DeleteHealth(item)"><i class="icon ion-trash-a"></i></button>
          <button class="button button-clear" style="color:#666" ng-click="EditHealth(item)"><i class="icon ion-edit"></i></button>
        </div>

      </ion-item>
    </ion-list>






  </ion-content>

</ion-view>
