<ion-view show-tabs view-title="患者列表">
    <ion-nav-bar class="bar-positive" align-title="center">

     <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
         <button class="button button-clear"  ng-click="openPopover($event)"><i class="iconfont icon-menu pat-mun-icon"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="bar bar-header item-input-inset" style="height:60px;">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon f-24"></i>
        <input type="search" placeholder="搜索姓名/病倒" ng-model="query.name">
      </label>
    </div>

        <div class="bar bar-subheader item-input-inset text-center" style="padding:0;position: 0px;top: 0px">

            <a ng-class="{'high-light':params.isPatients}" class="item col-50 " ng-click="ShowPatients()">
                <span>全部患者：{{patients.length}}</span>
            </a>
            <a ng-class="{'high-light':!params.isPatients}" class="item col-50 " style="border-right:0px" ng-click="ShowTodays()">
                <span>今日新增：{{Todays.length}}</span>
            </a>
        </div>
        <div ng-if="params.isPatients" class="list">
            <div ng-repeat="p in patients | filter:query.name |orderBy:filter.propertyName" collection-item-height="94px" class="item item-avatar" type="item-text-wrap" ng-click="getPatientDetail(p.patientId.userId)">
                <img ng-src={{p.patientId.photoUrl|imgUrl:'patient'}}>
                    <div style="display:inline-block;width:70%;">
                        <h2>{{p.patientId.name}}</h2>
                    <!-- <span>{{p.patientId.gender | filterGender}}</span><span>{{p.patientId.birthday | filterAge}}岁</span> -->
                    <!-- <span class="mine-msg-right">{{p.patientId.diagnosisInfo[p.patientId.diagnosisInfo.length-1].name}}</span> -->
                        <div style="display:inline-block;color:#d81e06;">
                            <i style="" class="iconfont icon-vip f-24" ng-if="p.patientId.VIP==1"></i>
                        </div>
                      <i class="y-message bg-a2">过敏史</i>
                      <i class="y-message bg-f7">警报</i>
                      <i class="y-message bg-12">血压</i>
                        <!-- <div style="display:inline-block;background-color: #0288D1;border-radius: 0.3em;color:#FFF;padding:0 3px"><i style="font-size:1em" class="icon ion-ios-flame"></i>
                        </div>
                        <div style="display:inline-block;background-color: #0288D1;border-radius: 0.3em;color:#FFF;padding:0 3px"><i style="font-size:1em" class="icon ion-android-hand"></i>
                        </div>
                        <div style="display:inline-block;background-color:#FFFF66;border-radius: 0.3em;color:#FF0000;padding:0 3px"><i style="font-size:1em" class="icon ion-android-person"></i>
                        </div>
                        <div style="display:inline-block;background-color: #FF0000;border-radius: 0.3em;color:#FFF;padding:0 3px"><i style="font-size:1em" class="icon icon ion-android-favorite"></i>
                        </div>    -->

                        <!-- <p>是否VIP：{{p.patientId.VIP | filterVIP}}</p>  -->
                    </div>
            </div>
        </div>


        <div ng-if="!params.isPatients" class="list">
            <div ng-repeat="t in Todays | filter:query.name |orderBy:filter.propertyName" collection-item-height="94px" class="item item-avatar" type="item-text-wrap" ng-click="getPatientDetail(t.patientId.userId)">
                <img ng-src={{t.patientId.photoUrl|imgUrl:'patient'}}>
                    <div style="display:inline-block;width:70%;">
                        <h2>{{t.patientId.name}}</h2>

                        <div style="display:inline-block;background-color: #0288D1;border-radius: 0.3em;color:#FFF;padding:0 3px">
                            <i style="font-size:1em" class="icon ion-android-star" ng-if="t.patientId.VIP==1"></i>
                        </div>

                    </div>
            </div>
        </div>


    </ion-content>
</ion-view>
