<ion-view view-title="患者详情">
	<ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goback()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="button-bar bar-positive" style="margin-top: 40px">
		<a class="button" href="#/tab/DoctorDiagnose">
			<span class="br-e9" style="vertical-align: sub">医生诊断</span>
		</a>
		<a class="button" href="#/tab/TaskSet">
			<span class="br-e9" style="vertical-align: sub">治疗方案</span>
		</a>
		<a class="button" ng-click="gototestrecord()" >
			<span class="br-e9" style="vertical-align: sub">测量记录</span>
		</a>
		<a class="button" href="#/tab/HealthInfo">
		    <span class="br-e9" style="vertical-align: sub">健康信息</span>
		</a>
	</div>
    <ion-content class="has-header" style="margin-top: 42px;">
        <div class="list">  
            <ion-item class="item item-avatar pati-message">
	        <div class="patient-active img-cen">
	          <div>            
				<img ng-src="{{patient.photoUrl||'img/patient.png'}}">
			  </div>
			</div>
				<button class="button button-small button-positive pat-ts bg-f7" ng-click="SendInsMsg()">推送保险</button>
	        <div class="row pd-0">
	          <div class="col pd-0">				
				<p class="m-b10 "><span class="f16 fc-33 f-w-5">{{patient.name}}</span><span class="f16 fc-33 f-w-5">&nbsp;&nbsp;&nbsp;{{patient.gender | filterGender}}</span>&nbsp;&nbsp;&nbsp;<span class="f16 fc-33 f-w-5">{{patient.birthday | filterAge}}岁</span>
				<p>身份证号：{{patient.IDNo}}</p>
<!-- 				<p>地区：{{patient.address.province}} {{patient.address.city}}</p> -->
				<p>是否VIP：{{patient.VIP | filterVIP}}</p>
				<p>是否有高血压：{{patient.hypertension | filterhypertension}}</p>
				<p>血型：{{patient.bloodType | filterbloodType}}</p>
				<p>过敏信息：{{patient.allergic}}</p>
				<p>保险推送次数：{{Ins.count}}</p>
			  </div>
			</div>				
			</ion-item>
				
            <ion-item class="bg-f5 f-18 fc-33">
			     最近诊断信息
			</ion-item>
		    <div class="card" ng-if="!(RecentDiagnosis)">
		        <div class="item item-text-wrap">
		            暂无诊断信息
		        </div>
		    </div>					
			<ion-item ng-if = "(RecentDiagnosis)">
			     <p class="fc-6b ">肾病类型 {{RecentDiagnosis.name | classname}}</p>
				 <p class="fc-6b " ng-if ="(RecentDiagnosis.progress)">疾病进程 {{RecentDiagnosis.progress | progressname}}</p>
				 <p class="fc-6b " ng-if ="(RecentDiagnosis.content)">诊断内容 {{RecentDiagnosis.content}}</p>
				 <p class="fc-6b " ng-if ="(RecentDiagnosis.time)">开始日期 {{RecentDiagnosis.time |dateFormat:"YYYY-MM-DD"}}</p>
			</ion-item>				
        </div>
    </ion-content>
</ion-view>


