<ion-view show-tabs view-title="患者列表">
    <ion-nav-bar class="bar-positive" align-title="center">

     <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
         <button class="button button-clear"  ng-click="reorder()">排序<i class="icon ion-arrow-down-b"></i></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/tab/patientDetail" ng-repeat="p in patients | orderBy:order:abc">
                <img src="img/default_user.png">
				<div>
                <span>{{p.name}}</span><span>{{p.sex}}</span><span>{{p.age}}岁</span>
				<span class="mine-msg-right">{{p.symptom}}</span>
                <p class="friend-detail-p">是否VIP{{p.VIP}}</p>
                <p class="friend-detail-p">危机程度{{p.class}}</p>
				</div>
            </a>      
        </div>
    </ion-content>
</ion-view>



