<ion-view view-title="患者详情">
	<ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-chevron-left" ng-click="goback()"></button>
      </ion-nav-buttons>
<!-- 		<ion-nav-back-button class="button-clear">
			<i class="ion-chevron-left"></i>

		</ion-nav-back-button> -->
    </ion-nav-bar>
    <div class="button-bar bar-positive" style="margin-top: 40px">
		<a class="button" href="#/tab/DoctorDiagnose">
			<span style="vertical-align: sub;font-size:12px">医生诊断</span>
			<!-- <div style="font-size:12px">医生诊断</div> -->
		</a>
		<a class="button" href="#/tab/TaskSet">
			<span style="vertical-align: sub;font-size:12px">管理方案</span>
			<!-- <div style="font-size:12px">管理方案</div> -->
		</a>
		<a class="button" ng-click="gototestrecord()" >
			<span style="vertical-align: sub;font-size:12px">测量记录</span>
			<!-- <div style="font-size:12px">测量记录</div> -->
		</a>
		<a class="button" href="#/tab/HealthInfo">
		    <span style="vertical-align: sub;font-size:12px">健康信息</span>
			<!-- <div style="font-size:12px">健康信息</div> -->
		</a>
	</div>
    <ion-content class="has-header" style="margin-top: 44px;">
        <div class="list card">  
            <ion-item class="item item-avatar">
				<img ng-src="{{patient.photoUrl||'img/patient.png'}}">
				
				<!-- <div class="row">
					<div class="col-90"> -->
						<span>{{patient.name}}</span><span>&nbsp;&nbsp;&nbsp;{{patient.gender | filterGender}}</span>&nbsp;&nbsp;&nbsp;<span>{{patient.birthday | filterAge}}岁</span>
						<p>身份证号：{{patient.IDNo}}</p>
						<p>地区：{{patient.address.province}} {{patient.address.city}}</p>
						<p>是否VIP：{{patient.VIP | filterVIP}}</p>
						<p>是否有高血压：{{patient.hypertension | filterhypertension}}</p>
						<p>保险推送次数：{{Ins.count}}</p>
					<!-- </div>
					<div class="col-10"> -->
						<button class="button button-small button-positive" ng-click="SendInsMsg()">推送保险</button>
					</div>
				</div>
				
			</ion-item>
				
            <ion-item>
			     最近就诊信息
			</ion-item>		
			<ion-item ng-repeat="di in diagnosisInfo">
			     <h2>{{di.time | dateFormat:"YYYY-MM-DD"}}</h2>
				 <p>就诊医院 {{di.doctor.workUnit}}</p>
				 <p>就诊科室 {{di.doctor.department}}</p>
				 <p>就诊诊断 {{di.content}}</p>
			</ion-item>				
        </div>
    </ion-content>
</ion-view>


