<ion-view view-title="患者详情">
	<ion-nav-bar class="bar-positive" align-title="center">
		<ion-nav-back-button class="button-clear">
			<i class="ion-chevron-left"></i>

		</ion-nav-back-button>
    </ion-nav-bar>
    <div class="button-bar bar-positive" style="margin-top: 40px;">
		<a class="button" href="#/tab/DoctorDiagnose">
			<span style="vertical-align: sub">医生诊断</span>
		</a>
		<a class="button" href="">
			<span style="vertical-align: sub">治疗方案</span>
		</a>
		<a class="button" href="">
			<span style="vertical-align: sub">测量记录</span>
		</a>
	</div>
    <ion-content class="has-header" style="margin-top: 44px;">
        <div class="list card">  
            <ion-item class="item item-avatar" href="#/tab/detail">
				<img src="img/{{p.head}}">
				<span>{{p.name}}</span><span>&nbsp;&nbsp;&nbsp;{{p.gender}}</span>&nbsp;&nbsp;&nbsp;<span>{{p.birthday}}</span>
				<p>身份证号 {{p.IDNo}}</p>
				<p>地区 {{p.provice}} {{p.city}}</p>
				<p>是否VIP {{p.VIP}}</p>
				<p>是否有高血压 {{p.hypertension}}</p>
			</ion-item>	
				
            <ion-item>
			     最近就诊信息
			</ion-item>		
			<ion-item ng-repeat="di in diagnosisInfo">
			     <h2>{{di.time}}</h2>
				 <p>就诊医院 {{di.hosptial}}</p>
				 <p>就诊科室 {{di.department}}</p>
				 <p>就诊诊断 {{di.diagnosis}}</p>
			</ion-item>				
        </div>
    </ion-content>
</ion-view>

