<ion-view view-title='治疗方案'>
<!--   <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
    <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
          <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="BacktoPD()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
  <div class="button-bar bar-positive" ng-style="barStyle">
    <a class="button" href="#/tab/patientDetail">
      <span class="br-e9" style="vertical-align: sub; text-align:center">患者详情</span>
    </a>
    <a class="button" href="#/tab/DoctorDiagnose">
      <span class="br-e9" style="vertical-align: sub; text-align:center">医生诊断</span>
    </a>
    <a class="button" href="#/tab/TaskSet">
      <span class="br-e9" style="vertical-align: sub; text-align:center">健康方案</span>
    </a>
    <a class="button" href="#/tab/Report">
      <span class="br-e9" style="vertical-align: sub; text-align:center">病情报告</span>
    </a>
    <a class="button" href="#/tab/HealthInfo">
        <span class="br-e9" style="vertical-align: sub; text-align:center">健康信息</span>
    </a>
  </div>
      <ion-content class="has-header" ng-style="barStyle">
        <div class="list task-list">
            <a class="task-item fc-33" ng-repeat="item in Tasks.Measure">
            <img ng-src="{{item.Name | icon_filter}}" alt="">
            <span>{{item.Name}}</span>
            <section class="task-item-right">
              <i class="icon  task-icon-r border" style="font-size:16px">
                <select class="br-e9" ng-model="item.frequencyTimes" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                <select class="br-e9" ng-model="item.frequencyUnits" ng-options="item1 for item1 in Units" ng-change = "ChangeFreq(item)"></select>
                <select class="br-e9" ng-model="item.times" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                <i class="br-e9">次</i>
              </i>
              <i ng-if ="(charge)" class="icon ion-edit" style="font-size:20px;margin-left: 10px" ng-click="showPopup(item)"></i>
            </section>
            <p>{{item.content}}</p>
          </a>
          <a class="task-item fc-33" ng-repeat="item in Tasks.Other">
            <img ng-src="{{item.Name | icon_filter}}" alt="">
            <span>{{item.Name}}</span>
            <section class="task-item-right">
              <i class="icon  task-icon-r border" style="font-size:16px">
                <select class="br-e9" ng-model="item.frequencyTimes" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)" ></select>
                <select class="br-e9" ng-model="item.frequencyUnits" ng-options="item1 for item1 in Units" ng-change = "ChangeFreq(item)"></select>
                <select class="br-e9" ng-model="item.times" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                <i class="br-e9">次</i>
              </i>
              <i ng-if ="(item.flag&&charge)" class="icon ion-edit" style="font-size:20px;margin-left: 10px" ng-click="showPopup(item)"></i>
              <i ng-if ="!item.flag&&charge" class="icon ion-edit" style="font-size:20px;margin-left: 10px" ></i>

            </section>
            <p>{{item.content}}</p>
          </a>
        </div>
        <button style="margin:0 auto;width: 80%" class="button button-block button-balanced bg-6a" class="button button-clear" ng-click="OkClick()" ng-if = "(charge)">确定
        </button>
    </ion-content>
</ion-view>
