<ion-view view-title='任务设置'>  
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-right item-icon-left" ng-repeat = "item in Tasks.Measure">
                <i class="icon ion-edit" style="font-size:20px" ng-click = "showPopup(item)"></i>
                {{item.Name}}  
                <p>{{item.content}}</p>              
                <i class="icon ion-android-alarm-clock" style="font-size:16px">
                    <select ng-model="item.frequencyTimes" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                    <select ng-model="item.frequencyUnits" ng-options="item1 for item1 in Units" ng-change = "ChangeFreq(item)"></select>
                    <select ng-model="item.times" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                    次                     
                </i>
            </a>   
            <a class="item item-icon-right item-icon-left" ng-repeat = "item in Tasks.Other">
                <i ng-if ="item.flag" class="icon ion-edit" style="font-size:20px" ng-click = "showPopup(item)"></i>
                <i ng-if ="!item.flag" class="icon ion-edit" style="font-size:20px;color:gray;" ></i>
                {{item.Name}}
                <p>{{item.content}}</p>               
                <i class="icon ion-android-alarm-clock" style="font-size:16px">                  
                    <select ng-model="item.frequencyTimes" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                    <select ng-model="item.frequencyUnits" ng-options="item1 for item1 in Units" ng-change = "ChangeFreq(item)"></select>
                    <select ng-model="item.times" ng-options="item1 for item1 in Times" ng-change = "ChangeFreq(item)"></select>
                    次                                 
                </i>               
            </a>   
        </div>
        <button style="margin-top:0" class="button button-block button-balanced" class="button button-clear" ng-click="OkClick()">确定</button>
    </ion-content> 
</ion-view>
