<ion-tabs class="tabs-icon-top tabs-positive {{$root.hideTabs}} no-animation">

  <ion-tab title="首页" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="咨询" icon="ion-radio-waves" ng-click="goConsult()">
    <ion-nav-view name="tab-consult"></ion-nav-view>
  </ion-tab>
  <ion-tab title="患者" icon="ion-help-buoy" ng-click="goPatient()">
    <ion-nav-view name="tab-patient"></ion-nav-view>
  </ion-tab>
   <ion-tab title="交流" icon="ion-person-stalker" ng-click="goGroups()">
    <ion-nav-view name="tab-groups"></ion-nav-view>
  </ion-tab>
   <ion-tab title="我" icon="ion-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

</ion-tabs>