<!-- <ion-header-bar align-title="center" class="bar-stable" hide-nav-bar=true>
     <a class="subdued" style="position: absolute;left: 4px;bottom: 5px;color: #435356;border: 0;" href="#/tab/location" >
            <span style="border: 0;font-size: 26px;margin-left:5px;"><i class="icon ion-qr-scanner"></i></span>
     </a>
	 <a class="icon ion-android-mail" href="#/tab/search" style="color: #435356;font-size: 28px;position: absolute;right: 10px;bottom: 5px;"></a>
</ion-header-bar> -->

<ion-view view-title='主页' hide-nav-bar=true>
        <iframe id="bbsframe" ng-src ='{{navigation}}' height="100%" width="100%">

                <p>Your browser does not support iframes.</p>
            </iframe>
</ion-view>
<style type="text/css">
    .changeicon{
        position: absolute;
        left: -6px;
        padding-bottom: 80px;
        color:blue;
    }
</style>
<!-- 页面下方按钮-tab -->