<ion-view show-tabs view-title='主页' hide-nav-bar="false">
  <ion-nav-bar class="bar-positive bg-6a" align-title="center">
    <ion-nav-buttons side="left">
      <a class="button" style="font-size: 32px;" ng-class="{'ion-arrow-expand':!isfullScreen,'ion-arrow-shrink':isfullScreen}" ng-click="fullScreen()"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-android-mail" href="#/messages" head-red-point='hasUnreadMessages'></a>
    </ion-nav-buttons>
  </ion-nav-bar>
	<ion-slides  options="options" slider="data.slider" ng-style="sliderStyle" ng-show="!isfullScreen">
		<ion-slide-page>
			<div class="box"><img src="img/banner02@2x.png"></div>
		</ion-slide-page>
		<ion-slide-page>
			<div class="box"><img src="img/banner02@2x.png"></div>
		</ion-slide-page>
	</ion-slides>
<!--     <div class="button-bar bar-positive" style="">
		<a class="button" style="border-radius:0px;" href="#/tab/consult">
			<span style="vertical-align: sub">咨询</span>
		</a>
		<a class="button" href="#/tab/patient">
			<span style="vertical-align: sub">患者</span>
		</a>
		<a class="button" href="#/tab/groups/type/0">
			<span style="vertical-align: sub">团队</span>
		</a>
		<a class="button" style="border-radius:0px;" href="#/tab/me">
			<span style="vertical-align: sub">我</span>
		</a>
	</div> -->
	<!-- <a class="button" style="z-index: 20;" ng-click="importDocs()">import user 2 forum</a> -->
	<ion-content style="padding:0px;" ng-style="isWriting" scroll=true overflow-scroll=true>

		<div style="text-align:center" ng-if="!forumPermission">
			<p style="margin-top: 20px;">您需要先填写个人信息才能访问论坛!</p>
			<button ng-click="goToPersonalInfo()">去完善个人信息</button>
		</div>
		
	    <iframe id="bbsframe" ng-src ='{{navigation}}' height="100%" width="100%" ng-show="forumPermission">
			<p>Your browser does not support iframes.</p>
	    </iframe>

	    <iframe id="bbsframe_login" ng-src ='{{navigation_login}}' height="100%" width="100%" ng-show=false>
			<p>Your browser does not support iframes.</p>
	    </iframe>
	</ion-content>
</ion-view>
