<ion-view view-title="评论">
	<ion-nav-bar class="bar-positive" align-title="center">

  		<ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
        	<button class="button button-positive defa-bg defa-font" ng-click="GoBack()">取消</button>
    	</ion-nav-buttons>

  		<ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
        	<button class="button button-positive defa-bg defa-font" ng-click="Reply()">发表</button>
    	</ion-nav-buttons>
	</ion-nav-bar>
  
	<ion-content class="padding">

        <form>
            
            <label class="item item-input" style="border:1px solid #6ac4f8;border-radius: 5px;margin-top: 10px ">
              <textarea placeholder="说点什么吧......" rows="8" style="line-height: 25px" ng-model="reply.content"></textarea>
            </label>
  
        </form>

    </ion-content>
</ion-view>