<ion-view view-title="{{params.title}}" hide-tabs>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goChats()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a ng-hide="params.type=='2'" class="button button-icon ng-hide fc-ff" ng-click="finishConsult()">结束</a>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content delegate-handle="myContentScroll" class="gray-back">

      <ion-refresher on-refresh="DisplayMore()"></ion-refresher>
      <!-- <div collection-repeat="msg in msgs track by $index" msg="msg" msgindex='{{$index}}' my-message><div> -->
      <div class="text-center padding hide-animate ng-hide" ng-hide="params.moreMsgs">没有更多消息了</div>
    <my-message  ng-repeat="msg in msgs track by $index" msg="msg" msgindex='{{$index}}'></my-message>
    <div style="float:left;width:100%;" ng-style="{'padding-top':'{{params.helpDivHeight}}px'}"></div>

</ion-content>

  <form name="sendMessageForm" novalidate>
        <ion-footer-bar class="input-box" style="position:absolute" keyboard-attach>
            <!-- 语音button -->
            <div style="position:absolute;bottom:0;">
                <button style="padding:0 2px 0 4px" class="button button-icon iconfont  icon-yuyin" on-hold="getVoice()" on-release="stopAndSend()"></button>
               <!-- <div  style="padding:0 2px"  class="button button-icon icon ion-android-image" ng-click="getImage('gallery')"></div>
                <div  style="padding:0 2px"  class="button button-icon icon ion-android-camera" ng-click="getImage('cam')"></div>-->
                <!-- <div  style="padding:0 2px"  class="button button-icon icon ion-android-add" ng-click="tt()"></div> -->

            </div>

            <!-- 输入框 -->
            <!-- <label class="item-input-wrapper"> -->
            <div style="width:100%;position:absolute;left:0;bottom:4px;padding-left:55px;padding-right:130px;background-color: #FFF">
              <textarea style="resize:none;width:100%;min-height:1.4em;height:1.4em;font-size:1.2em;border-bottom:1px #AAA solid" ng-model="input.text" ng-focus="scrollBottom()" minlength="1" maxlength="500" dynamic-height></textarea>
            </div>
            <!-- <textarea style="width:100%;height:1.5em;font-size:1.2em;position:absolute;left:0;gbottom:2px;padding-left:80px;padding-right:70px;border-bottom" ng-model="Dialog.SMScontent" ng-change="dynamicHeight()"  required minlength="1" maxlength="500" autofocus dynamic-height></textarea> -->

            <!-- </label> -->
            <!-- 表情 -->
            <!-- <div> -->
            <!-- <div></div> -->
                <button  style="width:2.6em;position:absolute;bottom:1px;right:50px;padding:0" class="button button-icon  iconfont icon-biaoqing" type="submit" ></button>
                <button  style="width:2.6em;position:absolute;bottom:4px;right:4px;padding:0" class="button button-icon  iconfont icon-add" type="submit" ng-show="!input.text || input.text === ''"></button>
                <button  style="width:2.6em;position:absolute;top:auto;right:9px;bottom:auto;padding:0" class="button button-positive" type="submit" ng-hide="!input.text || input.text === ''" ng-click="submitMsg()">发送</button>
                <!-- <div  ng-if="!Dialog.SMScontent" style="position:absolute;top:auto;right:0;bottom:auto;"  class="button button-icon icon ion-android-image" ng-click="getImage()"></div> -->
                <!-- <div style="position:relative" class="button">发送</div> -->
            <!-- </div> -->
        </ion-footer-bar>
    </form>

</ion-view>
