<ion-view view-title="进行中" hide-tabs>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left" >
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goCounsel()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-clear"  ng-click="openPopover($event)"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #fafafa">
        <div class="bar bar-header item-input-inset" style="height:40px;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="搜索" ng-model="query.name">
            </label>
        </div>
      <div >
        <h4 class="m-h4">等待咨询患者:  {{patients.length}}</h4>
        <div class="list bg-fa">
          <a class="item item-avatar context-pading m-b5 br-none fc-4c" href="#" ng-repeat="p in patients | filter:query.name" ng-click="itemClick($event,p.patientId.userId)">
            <img class="avatar-icon" ng-src="{{p.patientId.photoUrl|imgUrl:'doctor'}}">
            <div><span>{{p.patientId.name}}</span><span style="float: right">{{p.time|dateFormat:"YYYY-MM-DD h:m"}}</span></div>
            <em class="m-em friend-detail-p">{{p.topic}}</em>
          </a>
        </div>
      </div>
    </ion-content>
</ion-view>

