<ion-view view-title="进行中" hide-tabs>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left" >
            <button class="button button-icon icon ion-chevron-left" ng-click="goCounsel()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-clear"  ng-click="openPopover($event)">筛选<i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div>
        等待患者：{{patients.length}}
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/tab/detail/1/{{p.counselId}}" ng-repeat="p in patients">
                <img src="{{p.patientId.photoUrl|imgUrl:'doctor'}}">
                <div>
                <span>{{p.patientId.name}}</span>
                <span style="margin-left:5px;">{{p.patientId.gender|filterGender}}</span>
                <span style="margin-left:5px;">{{p.patientId.birthday|filterAge}}岁</span>
                <span class="mine-msg-right">{{p.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
                <p class="friend-detail-p" style="white-space:nowrap;">{{p.topic}}</p>
                </div>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/detail/1/U201702071766">
                <img src="{{p.patientId.photoUrl|imgUrl:'doctor'}}">
                <div>
                <span>卢兴芳</span>
                <span style="margin-left:5px;">女</span>
                <span style="margin-left:5px;"> 47岁</span>
                <span class="mine-msg-right">2017-4-14 8:53</span>
                <p class="friend-detail-p" style="white-space:nowrap;"></p>
                </div>
            </a> 
        </div>
    </ion-content>
</ion-view>
