<ion-view title="健康信息">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-plus-empty fc-ff" ng-click=""></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <div class="item">
       <div class="clearfix"><span class="f-fl f-w-5">检查</span><span class="f-fr f-w-5">2017-04-11</span></div>
        <p class="mt-5 fc-6c">血常规</p>
         <div class="health-img-box clearfix">
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
           <div class="health-img"><img src="../../img/me1.png"></div>
         </div>
          <div class="text-right "> <i class="iconfont icon-del f-24"></i> <i class="iconfont icon-bianji f-32 ml-10"></i></div>
      </div>

    </div>

  </ion-content>


</ion-view>
