<ion-view hide-tabs view-title="搜索医生">
<!-- <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="confirmAdd()">添加</button>
    </ion-nav-buttons> -->
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
<div class="bar item-input-inset" style="position:absolute;top:44px;z-index:999">
        <div class="item-input-wrapper">
            <i style="color:#3d6399;font-size:1.6em" class="icon ion-android-search placeholder-icon"></i>
            <input type="search" ng-blur="doResume()" ng-model="search.name" placeholder="搜索医生姓名">
            <i style="color:#EF473A;font-size:1.6em" class="icon ion-android-close placeholder-icon ng-hide" ng-show="search.name" ng-click="clearSearch()"></i>
        </div>
        <button  class="button button-clear button-positive" ng-click="goSearch()">
            搜索
        </button>
       <!--  <button ng-show="isnotsearching" class="button button-clear button-positive ng-hide" ng-click="closeSearch()">
            返回
        </button> -->
    </div>
<!-- <div style="padding:4px;position:absolute;top:88px;height:44px;width:100%;margin:0;max-height:30vh;overflow-y: scroll;" ng-hide="params.hidePanel" class="item">
            <img style="height:2em;width:2em;margin:3px" ng-repeat="member in group.members" src="{{member.photoUrl}}" />
  </div> -->

  <ion-content style="padding-top:20px" class="has-subheader gray-back" >

<div class="list">

    <div class="item item-avatar" ng-repeat="d in doctors" ng-click="doctorClick(d.userId)">
        <img src="{{d.photoUrl || 'img/doctor.png'}}">
        <div class="doctor-msg-left balanced balanced-border">专家团队</div>
        <div style="display:inline-block;width:70%">
            <span>{{d.name}}</span> {{d.title}}
            <p><span>{{d.workUnit}}</span> <span>{{d.department}}</span> </p>
            <p><span>评分{{d.score}}</span> 问诊量：{{d.count2}} </p>
            <p>擅长：{{d.major}}</p>
        </div>
<!--         <div style="display:inline-block;float:right;width:20%;border:none">
            <ion-checkbox  ng-model="d.check" ng-change="update($index)"></ion-checkbox>
        </div> -->
    </div>
</div>
    <ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="15%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>