<ion-view hide-tabs view-title="团队信息">
    <ion-nav-bar class="bar-positive " align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="gray-back">
        <ion-list>
            <ion-item class="item-avatar" type="item-text-wrap" href="#">
                <img ng-src="img/avatar.png">
                <h2>{{group.name}}</h2>
                <div>{{group.teamId}}
                    <span class="mg-top10 defa-bg  padding-5"><i class="iconfont icon-ren">{{group.number}}</i></span>
                </div>
            </ion-item>
        </ion-list>
        <div class="list margin-list">
            <div class="item" href="#">
                创建者
                <div class="item-span">{{group.sponsorName}} </div>
            </div>
        </div>
        <div class="list margin-list">
            <div class="item" href="#">
                创建时间
                <div class="item-span">{{group.time.substr(0,10)}} </div>
            </div>
            <div class="item" href="#">
                团队简介
                <div class="item-span">{{group.description | limitTo:10}}{{group.description.length>12?'&hellip;':''}} </div>
            </div>
        </div>
        <div class="list margin-list" style="padding-top:0">
            <div class="item my-photo-item" href="#" style="padding-top:0 !important;line-height:60px">
                <span>团队成员</span>
                <img ng-repeat="member in group.members |limitTo:3" ng-src="{{member.photoUrl || 'img/DefaultAvatar.jpg'}}" />
            </div>
        </div>
        <a style="width:120px;text-align:center;box-shadow: 1px 1.5px 3px #aaa;font-size:1.1em;padding:10px 16px;margin:20px auto" class="item ng-hide" ng-click="request()" ng-hide="alreadyIn">
            立即加入
        </a>
    </ion-content>
</ion-view>
