<ion-view view-title="咨询详情" hide-tabs>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-android-arrow-back" ng-click="goChats()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-clipboard" ng-click="togglePanel()"></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <div  style="position:absolute;top:44px;width:100%;margin:0" ng-hide="params.hidePanel" class="list card ng-hide hide-animate">
    <div class="item item-avatar" >
        <img ng-src="img/avatar.png">
        <div >
          <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">ABC </div>
          <div style="display:inline-block">男的女的几岁</div>
          <div style="display:inline-block;float:right">时间</div>
        </div>
        <!-- <h2>范德萨user006</h2><span> fahdjksfh</span> -->
        <p style="width:60%;display:inline-block;" ><i class="icon ion-android-car"></i>The cordova.plugins.Keyboard object provides functions to make interacting with the keyboard easier, and fires events to indicate that the keyboard will hide/show.</p>
        <span style="float:right;background-color:#00E676;border-radius:0.4em;padding:2px;color:#FFF">会诊结论</span>
        
      </div>
      <div  class="item item-body">
          <!-- <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">啥病啊，没事吧</div> -->
          <!-- <div style="display:inline-block;float:right"><i class="icon ion-android-pin"></i> 位置</div> -->
          <div style="">惊了，睡一觉起来居然上了十大。
  首先的确如很多回复的同学们所说，LZ比较懒，也比较笨，我也没有任何埋怨谁的意思，就像有位同学所说，帮是情分，不帮是本分，我只是觉得自己很无力而已，一个弱者蹲在地上的自我叹息。
  然后这个毕设……课题比较奇葩，我们实验室的学长都没有做这个的，我遇到问题（比如某某仪器的使用准许）都是去其他实验室寻求帮助，都是些素不相识的学长。总之就是，比较熟的学长爱莫能助，可能帮到我的学长压根就不认识我。
  最后非常感谢各位的建议，我会尽力去改变自己，努力做好这个毕设
         </div>
         <!-- <img style="height:3.5em;width:3.5em;margin:0.4em 0.8em 0 0" ng-repeat="pic in content.pics" ng-src="{{pic}}" ng-click="viewPic(this.pic)"/> -->
      </div>

    </div> 
  <ion-content delegate-handle="myContentScroll" class="gray-back">

      <ion-refresher on-refresh="DisplayMore()"></ion-refresher>
      <!-- <div collection-repeat="msg in msgs track by $index" msg="msg" msgindex='{{$index}}' my-message><div> -->
    <my-message  ng-repeat="msg in msgs track by $index" msg="msg" msgindex='{{$index}}'></my-message>
    <div style="float:left;width:100%;" ng-style="{'padding-top':'{{params.helpDivHeight}}px'}"></div>

</ion-content>

  <form name="sendMessageForm" novalidate>
        <ion-footer-bar class="input-box" style="position:absolute" keyboard-attach>
            <!-- 语音button -->
            <div style="position:absolute;bottom:0;">
                <button style="padding:0 2px 0 4px" class="button button-icon icon ion-android-microphone" on-hold="getVoice()" on-release="stopAndSend()"></button>
                <div  style="padding:0 2px"  class="button button-icon icon ion-android-image" ng-click="getImage('gallery')"></div>
                <div  style="padding:0 2px"  class="button button-icon icon ion-android-camera" ng-click="getImage('cam')"></div>
                <!-- <div  style="padding:0 2px"  class="button button-icon icon ion-android-add" ng-click="tt()"></div> -->

            </div>
            
            <!-- 输入框 -->
            <!-- <label class="item-input-wrapper"> -->
            <div style="width:100%;position:absolute;left:0;bottom:4px;padding-left:130px;padding-right:45px;background-color: #FFF">
              <textarea style="width:100%;min-height:1.4em;height:1.4em;font-size:1.2em;border-bottom:1px #AAA solid" ng-model="input.text" ng-focus="scrollBottom()" minlength="1" maxlength="500" dynamic-height></textarea>
            </div>
            <!-- <textarea style="width:100%;height:1.5em;font-size:1.2em;position:absolute;left:0;gbottom:2px;padding-left:80px;padding-right:70px;border-bottom" ng-model="Dialog.SMScontent" ng-change="dynamicHeight()"  required minlength="1" maxlength="500" autofocus dynamic-height></textarea> -->
            
            <!-- </label> -->
            <!-- 表情 -->
            <!-- <div> -->
            <!-- <div></div> -->
                <button  style="width:2.6em;position:absolute;top:auto;right:4px;bottom:auto;padding:0" class="button button-positive" type="submit" ng-disabled="!input.text || input.text === ''" ng-click="submitMsg()">发送</button>
                <!-- <div  ng-if="!Dialog.SMScontent" style="position:absolute;top:auto;right:0;bottom:auto;"  class="button button-icon icon ion-android-image" ng-click="getImage()"></div> -->
                <!-- <div style="position:relative" class="button">发送</div> -->
            <!-- </div> -->
        </ion-footer-bar>
    </form>

</ion-view>