<ion-view hide-tabs view-title="团队搜索">
    <!--     <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()"></button> 
    </ion-nav-buttons> -->
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-qr-scanner" href="#/tab/groups/search" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

   
        <div class="bar item-input-inset" style="position:absolute;top:44px;z-index:999">
            <div class="item-input-wrapper">
                <i style="color:#3d6399;font-size:1.6em" class="icon ion-android-search placeholder-icon"></i>
                <input type="search" ng-blur="doResume()" ng-model="search" placeholder="搜索群号">

                <i style="color:#EF473A;font-size:1.6em" class="icon ion-android-close placeholder-icon ng-hide" ng-show="search" ng-click="clearSearch()"></i>
            </div>
             <button class="button button-clear button-positive" ng-click="Searchgroup()">搜索</button>
       
        </div>
        <ion-content style="padding-top:20px" class="has-subheader gray-back" >
        <div class="list ng-hide" ng-hide="noteam">
            <a ng-repeat="team in teamresult" class="item item-avatar context-pading" href="#tab/groups/add/{{team.teamId}}">
                <img class="avatar-icon" ng-src="img/avatar.png">
                <h3>{{team.name}}</h3><p>{{team.teamId}}</p>
                <span class="mg-top10 defa-bg  padding-5"><i class="iconfont icon-ren">{{team.number}}</i></span>
                <div style="display:inline-block;margin-top: 5px"><span style="font-size: 12px;border-radius: 3px;display:inline-block;margin:0 0.2em 0 0.5em ;background-color:#f15124;color:#FFF">创建者</span>{{team.sponsorName}}</div>
                    <p class="mg-top10 serche-desc">{{team.description}}</p>
            </a>
        </div>


    </ion-content>
</ion-view>
