<ion-view hide-tabs view-title="团队信息">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goback()"></button>
    </ion-nav-buttons>
</ion-nav-bar>
    <ion-content class="gray-back">
        <ion-list>
            <ion-item class="item-avatar" type="item-text-wrap" href="#/group">
                <img ng-src="img/avatar.png">
                <h2>{{group.name}}</h2>
                <div>{{group.id}}
                    <div style="display:inline-block;background-color: #0288D1;border-radius: 0.3em;color:#FFF;padding:0 3px"><i style="font-size:1em" class="icon ion-android-person"></i><span>{{group.number}}</span></div>
                </div>
            </ion-item>
        </ion-list>
        <div class="list margin-list">
            <div class="item item-icon-left my-icon-item" href="#">
                <i class="icon ion-android-pin"></i> 管理员
                <div class="item-span">{{group.admin}} </div>
            </div>
        </div>
        <div class="list margin-list">
            <div class="item item-icon-left my-icon-item" href="#">
                <i class="icon ion-android-pin"></i> 群地点
                <div class="item-span">{{group.locale}} </div>
            </div>
            <div class="item item-icon-left my-icon-item" href="#">
                <i class="icon ion-android-pin"></i> 创建时间
                <div class="item-span">{{group.createAt}} </div>
            </div>
            <div class="item item-icon-left item-icon-right my-icon-item" href="#">
                <i class="icon ion-android-pin"></i> 群简介
                <div class="item-span">{{group.description | limitTo:15}}{{group.description.length>15?'&hellip;':''}} </div>
                <!-- <button class="button button-positive"> -->
                <i class="icon ion-ios-arrow-forward"></i>
                <!-- </button> -->
            </div>
        </div>
				<div class="list margin-list">
				    <div class="item item-icon-left my-icon-item my-photo-item" href="#">
				        <i class="icon ion-android-pin"></i>
				        <span style="position:relative;bottom:16px;">群成员<span>
							    <img ng-repeat="member in group.members | limitTo:3" src="{{member.url}}"/>
						    <span style="margin-top:16px" class="item-note">
						      {{group.number}} 人
						    </span>
				    </div>
				</div>

        <a style="width:120px;text-align:center;box-shadow: 1px 1.5px 3px #aaa;font-size:1.1em;padding:10px 16px;margin:20px auto" class="item" ng-click="request()">
            申请加入
        </a>
    </ion-content>
</ion-view>
