<ion-view hide-tabs view-title="团队二维码">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding gray-back">

  <div class="qr-code">
    <div >
      <img src="img/ionic.png"/>
      <div class="title">{{team.name}}</div>
    </div>
    <div>
      <qrcode  version=3 error-correction-level="M" size="230" data="{{team.teamId}}"></qrcode>
      <div style="color:#888;margin-top:10px">扫一扫，加入群聊</div>
    </div>
  </div>

  </ion-content>
</ion-view>
