<ion-view title="团队病例" hide-tabs>
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-chevron-left" ng-click="backToGroups()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="gray-back">

        <div style="width:100%;background-color: #FFF;height:2.4em;line-height: 2.4em;font-size:1.3em;padding:0 1.5em">
            <div>
                <i style="color:green;font-size:1.5em;position:relative;top:4px" class="icon ion-android-calendar"></i> 进行中：{{grouppatients1.length}}
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="grouppatient in grouppatients1" class="item-avatar" type="item-text-wrap" href="#/tab/groups/chat/1/{{params.teamId}}/{{grouppatient.patientID}}">
                <img ng-src="{{grouppatient.photoAdd}}">
                <div>
                    <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">{{grouppatient.name}}</div>
                    <div style="display:inline-block">{{grouppatient.gender}} {{grouppatient.age}}岁</div>
                    <div style="display:inline-block;float:right">{{grouppatient.lasttime}}</div>
                </div>
                <!-- <h2>范德萨user006</h2><span> fahdjksfh</span> -->
                <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">{{grouppatient.question}}</div>
                <div style="display:inline-block;float:right"><i class="icon ion-android-pin"></i> 位置</div>
                <p><i class="icon ion-android-car"></i>The cordova.plugins.Keyboard object provides functions to make interacting with the keyboard easier, and fires events to indicate that the keyboard will hide/show.</p>
            </ion-item>
        </ion-list>
        <div style="width:100%;background-color: #FFF;height:2.4em;line-height: 2.4em;margin-top:1.5em;font-size:1.3em;padding:0 1.5em">
            <div>
                <i style="color:green;font-size:1.5em;position:relative;top:4px" class="icon ion-android-calendar"></i> 已处理：{{grouppatients2.length}}
            </div>
        </div>
        <ion-list class="margin-list">
            <ion-item ng-repeat="grouppatient in grouppatients2" class="item-avatar" type="item-text-wrap" href="#/tab/groups/chat/2/{{params.teamId}}/{{grouppatient.patientID}}">
                <img ng-src="{{grouppatient.photoAdd}}">
                <div>
                    <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">{{grouppatient.name}}</div>
                    <div style="display:inline-block">{{grouppatient.gender}} {{grouppatient.age}}岁</div>
                    <div style="display:inline-block;float:right">{{grouppatient.lasttime}}</div>
                </div>
                <!-- <h2>范德萨user006</h2><span> fahdjksfh</span> -->
                <div style="display:inline-block;margin-right:1.2em;font-size:1.25em">{{grouppatient.question}}</div>
                <div style="display:inline-block;float:right"><i class="icon ion-android-pin"></i> 位置</div>
                <p><i class="icon ion-android-car"></i>The cordova.plugins.Keyboard object provides functions to make interacting with the keyboard easier, and fires events to indicate that the keyboard will hide/show.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
