<ion-view title="团队病例" hide-tabs>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-chevron-left" style="color: white" ng-click="backToGroups()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="gray-back">
    <div class="list">

      <div>
        <div class="item  m-item-divider context-pading1">
          <span class="m-item-divider-content"> 进行中 {{grouppatients0.length}}</span>
        </div>
        <a class="item item-avatar context-pading" href="#">
          <img class="avatar-icon" src="img/avatar.png">
          <div><span class="patient-title">张三</span><span class="mgleft-10 patient-title">男</span><span
            class="mgleft-10 patient-title">56岁</span><span class="mgleft-10 patient-title">2017/04/11 09:22:33</span>
          </div>
          <p class=" mg-top5 patient-content">问题描述:肾病.</p>
        </a>


        <a ng-repeat="grouppatient in grouppatients0" class="item item-avatar" ng-click="enterChat(1,grouppatient)">
          <img src="img/avatar.png">
          <div><span class="mgleft-10 patient-title">{{grouppatient.patientId.name}}</span><span
            class="mgleft-10 patient-title">{{grouppatient.patientId.gender|filterGender}}</span><span
            class="mgleft-10 patient-title">{{grouppatient.patientId.gender|filterGender}}岁</span><span
            class="mgleft-10 patient-title">{{grouppatient.time|dateFormat:"YYYY/MM/DD h:m"}}</span></div>
          <p class="mgleft-10 mg-top5 patient-content">问题描述:{{grouppatient.time|dateFormat:"YYYY-MM-DD h:m"}}</p>
        </a>

      </div>





      <div style="margin-top: 20px">
        <div class="item  m-item-divider context-pading1">
          <span class="m-item-divider-content"> 已处理 {{grouppatients1.length}}</span>
        </div>
        <a class="item item-avatar context-pading" href="#">
          <img class="avatar-icon" src="img/avatar.png">
          <div><span class=" patient-title">张三</span><span class="mgleft-10 patient-title">男</span><span
            class="mgleft-10 patient-title">56岁</span><span class="mgleft-10 patient-title">2017/04/11 09:22:33</span>
          </div>
          <p class=" mg-top5 patient-content">问题描述:肾病.</p>
        </a>



        <a  class="item item-avatar context-pading"ng-repeat="grouppatient in grouppatients1" ng-repeat="grouppatient in grouppatients1" >
          <img class="avatar-icon" src="{{grouppatient.patientId.photoUrl|imgUrl:'patient'}}">
          <div><span class=" patient-title">{{grouppatient.patientId.name}}</span><span class="mgleft-10 patient-title">{{grouppatient.patientId.gender|filterGender}}</span><span
            class="mgleft-10 patient-title">  {{grouppatient.patientId.birthday|filterAge}}岁</span><span class="mgleft-10 patient-title">{{grouppatient.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
          </div>
          <p class=" mg-top5 patient-content">问题描述:{{grouppatient.diseaseInfo.topic}}</p>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
