<ion-view title="我的团队">
  <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-android-add" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset bar-light">
    <div class="item-input-wrapper">
      <i style="color:#3d6399;font-size:1.6em" class="icon ion-android-search placeholder-icon"></i>
      <input type="search" ng-blur="doResume()" ng-model="query.groupname" ng-change="startSearch(query)" placeholder="搜索团队名称">
      <i style="color:#EF473A;font-size:1.6em" class="icon ion-android-close placeholder-icon" ng-hide="clearIt" ng-click="clearSearch()"></i>
    </div>
    <!-- <a class="button button-icon icon ion-android-more-vertical" ng-click="openpopover($event)"></a> -->
  </div>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div>
  <ion-content delegate-handle="myPatientScroll" class="has-subheader content-item-list" on-scroll="onScoll()">
    <div ng-if="searchflag">
      <a ng-click="onlineSearch()" class="button icon-left ion-android-search button-clear button-dark"> <b>搜索</b> <span style="color:#EF473A">{{query.groupname}}<span></a>
      <hr class="list" />
    </div>
    <ion-list> 
      <div collection-repeat="mygroup in mygroups |filter:byRange()|filter: query" collection-item-height="94px">
        <div class="row" style="height:88px">
          <div class = col-5  ng-click="groupcommunication(mygroup)" >
            <img ng-src="img/default_user.png" style="height: 40px;width: 50px; padding-left: 5px">
          </div>
          <div class = col-75  ng-click="groupcommunication(mygroup)" >
            <div class="row">
                  <h3><span style="float:left">{{mygroup.groupname}} ({{mygroup.membercounts}})</span></h3>
            </div>
            <div class="item-row">
                <span style="float:left">创建者：{{mygroup.groupowner}}</span>
              </p>     
            </div>
          </div>
          <div class = col-20>
             <img ng-src="img/default_user.png" ng-click="grouppatients(mygroup)"  style="height: 50px">         
          </div>
        </div>
      </div>
      
    </ion-list>
  </ion-content>
          
</ion-view>