<ion-view hide-tabs view-title="新建团队">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goback()"></button>
    </ion-nav-buttons>
    <!-- 		<ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i>

            </ion-nav-back-button> -->
  </ion-nav-bar>
  <ion-content class="gray-back">
    <div style="background-color: #FFF" class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">团队名</span>
        <input type="text" ng-model="team.name" placeholder="请输入">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">团队介绍</span>
        <input type="text" ng-model="team.description" placeholder="请输入">
      </label>
      <!--          <label class="item item-input item-stacked-label">
                   <span class="input-label">key2</span>
                   <input type="text" placeholder="请输入">
               </label> -->
    </div>
    <div class="item">添加成员</div>
    <div style="background-color: #FFF;border-bottom: 1px #ccc solid" class="padding">
      <div class="avatar-item" ng-repeat="member in members">
        <img src="{{member.url}}"/>
        <div>{{member.name}}</div>
      </div>
      <div style="vertical-align: top" class="avatar-item" ng-click="addMember()">
        <div
          style="width:100%;padding: 10%;box-sizing: border-box;position: relative;border:1px solid #aaa;font-size:3em;color:#aaa">
          <i class="icon ion-android-add"></i>
        </div>
      </div>
    </div>
    <button  class="button   login_btn login_outbtn" ng-click="confirm()">创建</button>



  </ion-content>
</ion-view>

