<ion-view hide-tabs view-title="医生信息">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content class=" gray-back">
        <div class="list">
            <a class="item item-avatar" style="vertical-align: middle">
                <img ng-src="img/avatar.png" style="vertical-align: middle">
                <h2 style="display:inline-block;">{{doctor.name}}</h2>
                <div style="margin-top: 10px;display:inline-block;background-color: #0288D1;border-radius: 0.3em;color:#FFF;padding:0 3px"><i style="font-size:1em;vertical-align: middle" class="icon ion-android-person"></i></div>
            </a>
        </div>
       <!--  <div class="list margin-list">
            <div class="item" href="#">
                设置备注
            </div>
        </div> -->
        <div class="list margin-list">
            <div class="item" href="#">
                职称
                <span class="item-note">{{doctor.title}}</span>
            </div>
            <a class="item" ng-click="showQRCode()">
                医院
                <span class="item-note">{{doctor.workUnit}}</span>


            </a>
            <a class="item" ng-click="showQRCode()">
                科室
                <span class="item-note">{{doctor.department}}</span>

            </a>

          <button  class="button   login_btn login_outbtn" ng-click="goChat()">发消息</button>
        </div>
    </ion-content>
</ion-view>
