<ion-view view-title="{{'聊天记录' + params.patientName}}" hide-tabs>
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content delegate-handle="myContentScroll" class="gray-back">
        <ion-refresher on-refresh="DisplayMore()"></ion-refresher>
        <div class="text-center padding hide-animate ng-hide" ng-hide="params.moreMsgs">没有更多消息了</div>
        <group-message ng-repeat="msg in msgs track by $index" msg="msg" photourls='photoUrls' msgindex='{{$index}}'></group-message>
        <div style="float:left;width:100%;padding-top:44px"></div>
    </ion-content>
</ion-view>
