<div class="msgbox no-bubble-color image-msgbox {{'msgbox-'+msg.direct}}">
    <div ng-if="msg.diff" class="msg-time"><span>{{msg.time | msgdate}}</span></div>
    <img class="avatar" ng-src="{{photourls[msg.fromID]|| 'img/DefaultAvatar.jpg'}}" ng-click="emitEvent('profile',msg)" />
    <div>
        <!-- <div ng-if="msg.fromID!=me" class="msg-name">{{msg.concluderName || msg.fromName}}</div> -->
        <div class="msg-name">{{msg.concluderName || msg.fromName}}</div>
        <div my-spin="msg.status" class="msg-body media-image" ng-click="emitEvent('image','img',msg)" on-hold="emitEvent('holdmsg',msg.createTimeInMillis,$event,'image')">
        <img src="{{msg.content.thumb}}" />
        </div>
    </div>
    <div ng-if="msg.status=='send_fail'" class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>
