<div class="msgbox no-bubble-color {{'msgbox-'+msg.direct}}"">
    <div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
    <img class="avatar" ng-src="{{msg.fromUser.avatarPath || 'img/max.png'}}" ng-click="emitEvent('profile',msg)"/>
    <div class="media-card msg-body" on-hold="emitEvent('holdmsg',msg._id,$event)" ng-click="emitEvent('viewcard',counsel.patientId,$event)">
        <div class="title">患者使用在线{{counsel.type=='1'?'咨询':'问诊'}}服务</div>
        <hr/>
        <div class="info">
            <p><span>症状</span>{{counsel.symptom}}</p>
            <p><span>发病时间</span> {{counsel.sickTime}}</p>
            <p><span>诊断</span>{{counsel.diagnosis}}</p>
            <p><span>就诊医院</span> {{counsel.hospital}}</p>
            <p><span>就诊时间</span>{{counsel.visitDate}}</p>
            <p><span>期望的帮助</span>{{counsel.help}}</p>
        </div>
<!--         <hr/>
        <div class="img-info">资料照片（3）</div>
        <img ng-repeat="url in picurl" hiRes="{{url.hiRes}}" ng-src="{{url.src}}"/> -->
    </div>
    <div ng-if="msg.status=='send_fail'" class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>

