<div class="msgbox msgbox-card">
    <!-- display time -->
    <!-- <my-time></my-time> -->
    <div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
    <div class="media-card">
        <div class="title">dfashf</div>
        <hr/>
        <div class="info">
            <p><span>fsdfaf：</span>fddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            <p><span>adfdsfasf</span> dffdf</p>
        </div>
        <hr/>
        <div class="img-info">图片</div>
        <img ng-repeat="url in picurl" ng-src="{{url.src}}" ng-click="emitEvent('image','',url.src,url.hiRes)" />
    </div>
	<!-- <div my-small-spin="msg.status" class="status"></div> -->
    <div ng-if="msg.status=='send_fail'" class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>

