<div class="msgbox no-bubble-color image-msgbox {{'msgbox-'+msg.direct}}">
	<!-- display time -->
	<div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
	<!-- avatar -->
	<img class="avatar" ng-src="{{photourls[msg.fromID]|| 'img/DefaultAvatar.jpg'}}" ng-click="emitEvent('profile',msg)"/>
	<!-- chat bubble -->
	<div my-spin="msg.status" class="msg-body media-image" ng-click="emitEvent('image','img',msg.content)" on-hold="emitEvent('holdmsg',msg.createTimeInMillis,$event,'image')">
		<!-- text content -->
		<!-- <div class="media-image"> -->
			<!-- <img  ng-src="http://121.43.107.106:8052/uploads/photos/U2016123004311493188462378.jpg"/> -->
			<img  src="{{msg.content.thumb}}"/>
		<!-- </div> -->
		
	</div>
	<div ng-if="msg.status=='send_fail'"  class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>