<div class="msgbox image-msgbox {{'msgbox-'+msg.direct}}">
	<!-- display time -->
	<div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
	<!-- avatar -->
	<img class="avatar" ng-src="{{photourls[msg.fromName] || 'img/doctor.png'}}" ng-click="emitEvent('profile',msg.fromName)"/>
	<!-- chat bubble -->
	<div my-spin="msg.status" class="msg-body media-image" ng-click="emitEvent('image','img',msg.content.localThumbnailPath,msg.serverMessageId)"  on-hold="emitEvent('holdmsg',msg._id,$event)">
		<!-- text content -->
		<!-- <div class="media-image"> -->
			<img  ng-src="{{msg.content.localThumbnailPath}}"/>
		<!-- </div> -->
		
	</div>
	<div ng-if="msg.status=='send_fail'"  class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
	<!-- <div class="status">{{msg.status}} </div> -->
</div>


    <!-- padding-top: {{msg.content.format.height/msg.content.format.width*100 + '%' -->