<div class="msgbox {{'msgbox-'+msg.direct}}">
    <div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
    <img class="avatar" ng-src="{{photourls[msg.fromID] || 'img/DefaultAvatar.jpg'}}" ng-click="emitEvent('profile',msg)" />
    <div class="msg-body" on-hold="emitEvent('holdmsg',msg.createTimeInMillis,$event,'text')">
        <div class="media-text">{{msg.content.text}}</div>
    </div>
    <div my-small-spin="msg.status" class="status"></div>
    <div ng-if="msg.status=='send_fail'" class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>
