<div class="msgbox {{'msgbox-'+msg.direct}}">
	<!-- display time -->
	<div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
	<!-- avatar -->
	<img class="avatar" ng-src="{{msg.fromUser.avatarPath || 'img/max.png'}}" ng-click="emitEvent('profile',msg.fromID)"/>
	<!-- chat bubble -->
	<div class="msg-body">
		<!-- text content -->
		<div class="media-text">{{msg.content.text}}</div>
	</div>
	<div my-small-spin="msg.status" class="status"></div>
  <div ng-if="msg.status=='send_fail'"  class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>

</div>