<div class="msgbox {{'msgbox-'+msg.direct}}">
	<!-- display time -->
	<!-- <my-time></my-time> -->
	<div ng-if="msg.diff" class="msg-time"><span>{{msg.createTimeInMillis | msgdate}}</span></div>
	<!-- avatar -->
	<img class="avatar" ng-src="{{photourls[msg.fromName] || 'img/doctor.png'}}" ng-click="emitEvent('profile',msg.fromName)"/>
	<!-- chat bubble -->
	<div class="msg-body " ng-click="emitEvent('voice',msg.content.local_path)"  on-hold="emitEvent('holdmsg',msg._id,$event)">
		<!-- text content -->
		<div class="media-text">这是录音{{msg.content.duration}}</div>
	</div>
	<div my-small-spin="msg.status" class="status"></div>
	<div ng-if="msg.status=='send_fail'"  class="msg-fail"><span><i class="icon ion-android-warning"></i>发送失败</span></div>
</div>