<ion-view show-tabs view-title="我的预约">
    <!-- <ion-nav-bar class="bar-positive" align-title="center">

     <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="right" >
         <button class="button button-clear"  ng-click="openPopover($event)"><i class="iconfont icon-menu pat-mun-icon"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
      <!-- <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher> -->

        <div class="list task-list">

          <!-- <div class="item item-divider bg-f0">
            <p style="color: #6ac4f8;font-size: 18px;text-align: center;">我的事项</p>
          </div>  -->               
          <a href="#/tab/review" class="task-item fc-33 subdued">
            <img src="img/checking.png" alt="">
            <span>{{reviewNum}}位 主管患者等待审核</span>
            <i class="icon ion-ios-arrow-right mine-msg-right"></i>
          </a>

          <a href="#/tab/face" class="task-item fc-33 subdued">
            <img src="img/booking.png" alt="">
            <span>{{PDNum}}位 预约面诊等待核销</span>
            <i class="icon ion-ios-arrow-right mine-msg-right"></i>
          </a>

        </div>
        
    </ion-content>
</ion-view>
