<ion-view view-title="我的二维码">
  <ion-nav-bar class="bar-positive " align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false">

        <div class="myinfo-avatar">
          <div class="img-cen ">
            <div>
                <img ng-src="{{doctor.photoUrl||'img/doctor.png'}}">
            </div>
          </div>
          <span class="f16">{{doctor.name}}</span>
          <p><span>{{doctor.workUnit}}</span><span style="margin-left:5px;">{{doctor.title}}</span></p>
        </div>

         <div style="text-align:center">

         <img style="width:250px;height:250px;" ng-src="{{ticket}}">
<!--          <div style="color:#888;margin-top:10px">长按扫一扫我的二维码，关注我</div> -->
	     </div>
    </ion-content>

    <!--选择地区-->
    <div class="js-citySelestNode tab-nav tabs hide-on-keyboard-open"  style="padding:0 10px;width:100%;height:auto;background-color:#fff;"></div>
</ion-view>


