<ion-view hide-tabs view-title="申请列表">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left" >
        <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="Goback()"></button>
        </ion-nav-buttons>

    <ion-content class="gray-back">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <div>
            <h4 class="m-h4">待审核：{{TotalNum}} 人</h4>   
        </div>

        <div  class="list">
            <div ng-repeat="p in patients" collection-item-height="94px" class="item item-avatar" type="item-text-wrap" >
                <img class="avatar-icon" ng-src="{{p.patientId.photoUrl||'img/patient.png'}}">
                    <div style="">
                        <span>{{p.patientId.name}}</span>
                        <span>{{p.patientId.gender | filterGender}}</span>
                        <span ng-if = "(p.patientId.birthday)">{{p.patientId.birthday | filterAge}}岁</span>
                        <span ng-if = "!(p.patientId.birthday)">年龄未知</span>
                        <span style="float: right">{{p.dpRelationTime |dateFormat:"YYYY-MM-DD"}}</span>
                        <br/>
                        <span>                        
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_2'">CKD1-2期</i>
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_3'">CKD3-4期</i>
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_4'">CDK5期</i>
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_6'">腹透</i>
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_5'">血透</i>
                        <i class="y-message bg-12" ng-if="p.patientId.class=='class_1'">肾移植</i>
                        <i class="y-message bg-f7" ng-if="p.patientId.hypertension==1">高血压</i>
                        <i class="y-message bg-a2" ng-if="p.patientId.VIP==1">保险</i>            
                        </span>

                        <button class="button button-positive button-small" style="position: fixed;right: 10px" ng-click="rejectApplication(p.patientId.userId)" >拒绝</button>  
                        <button class="button button-positive button-small" style="position: fixed;right: 50px" ng-click="passApplication(p.patientId.userId)">同意</button> 
                    </div>
            </div>
            <div ng-if="(show)">
                <h3  align="center">无待审核的患者！</h3>
            </div>
        </div>

    </ion-content>
</ion-view>