/*背景颜色相关*/
.bg-a2{
  background: #a2d8f9!important;
}
.bg-f7{
  background: #ff7f00!important;
}
.bg-f0{
  background: #f0f0f0;
}
.bg-12{
  background: #1296db!important;
}
.bg-6a {
  background: #6ac4f8 !important;
}
.bg-63{
  background: #63c1f7!important;
}
.bg-f5{
  background: #f5f5f5!important;
}
.bg-fa{
  background: #fafafa;
}
/*字体颜色相关*/
.fc-6a{
  color: #6ac4f8;
}
.fc-ff{
  color: #ffffff!important;
}
.fc-33{
  color: #333333;
}
.fc-6b{
  color: #6b6b6b;
}
.fc-6c{
  color: #6c6c6c!important;
}
.fc-66{
  color: #666666;
}
.fc-2b{
  color: #2b7633;
}
.fc-8c{
  color: #8c8c8c;
}
.fc-4c{
  color: #4c4c4c;
}
/*提示小块信息*/
.y-message{
  display: inline-block;
  padding: 0 2px;
  font-size: 12px;
  border-radius: 3px;
  color: #FFFFFF;
}
/*padding*/
.pd-0{
  padding: 0!important;
}
/*maginr*/
.m-b10{
margin-bottom:10px!important; ;
}
.m-b5{
  margin-bottom: 5px!important;
}
.m-t40{
  margin-top: 40px;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top:15px;
}
.ml-10{
  margin-left: 10px;
}
.mt-30{
  margin-top: 30px;
}
/*font*/
.f14{
  font-size: 14px!important;
}
.f16{
  font-size: 16px!important;
}
.f-18{
  font-size: 18px;
}
.f-24{
  font-size: 24px;
}
.f-32{
  font-size: 32px;
}
.f-w-5{
  font-weight:500;
}
/*边框*/
.border{
  border: 1px solid #828282;
}
.br-e9{
  border-right: 1px solid #e9e9e9;
}
.br-none{
  border: 0!important;
}
.br-box{
  box-shadow: 2px 2px 2px #e9e9e9;
}
.f-fl{
  float: left;
}
.f-fr{
  float: right;
}
/*按钮*/
/*蓝色*/
.button.button-balanced.active, .button.button-balanced.activated{
  border-color: #63c1f7!important;
  box-shadow: none;
}
  /*选项卡颜色*/
.bar-positive .button{
  background-color: #6ac4f8;
  border: none;
  color: #fff;
}
.bar-positive .button span{
  padding: 0 12px;
  font-size: 14px;
}
.bar-positive .button:last-child span{
  border-right: none;
}
.button-bar > .button:last-child,.button-bar > .button:first-child{
  border-radius: inherit;
}
.bar-positive .button.active, .bar-positive .button.activated {
  background-color: #fafafa;
  color: #333;
}

.bar-positive .button:hover{
  color: #646464;
}
.button-bar > .button{
  padding: 0;
}
/*弹窗*/
.popup-container .popup{
  width: 80%;
}
.popup-head{
  padding: 10px ;
}
.popup-body{
  padding: 0;
}
.popup-buttons{
  padding: 0;
  min-height: 45px;
}
.button.button-positive{
  background: #63c1f7;
}
.popup-container textarea{
  padding:15px;
}
/*图片居中*/
.img-cen{
  display: table;
  table-layout: fixed;
}
.img-cen div{
  vertical-align: middle;
}
/*患者也没筛选框*/
.top16{
  top:16px
}
